[2017-12-04 14:40] cmeeren commented on #163
I'm mostly interested in the null handling for now. I actually didn't think of custom JSON converters. How do I use those with Giraffe?

Also, thank you for the insights on FSharp.Json vs. Newtonsoft.Json. I see there are strong arguments in favor of sticking with the latter.

[2017-12-04 15:25] gerardtoconnor commented on #163
You can create your own custom json handler to write with:
[code]
or when writing json in the handler, overload:
[code]
to bind a model, similar once again, use the overload once again:
[code]
all can be found in docs
[https://github.com/dustinmoris/Giraffe#nested-response-writing](https://github.com/dustinmoris/Giraffe#nested-response-writing)

[2017-12-04 15:30] cmeeren commented on #163
Great! I skimmed the docs, but wasn't aware that JSON converters were specified in JsonSerializerSettings, so I missed that. Thanks!

[2017-12-04 15:31] dustinmoris commented on #160
Done with commit d361974481359cb6d3904e28d9461455d0bc7a3e

[2017-12-04 15:31] #160 closed

[2017-12-04 15:33] gerardtoconnor commented on #163
no problem, if that all makes sense you can go ahead an close the issue, you can always open another if you run into difficulty, hope all works smoothly for you.

[2017-12-04 15:38] #163 closed

[2017-12-04 22:04] dustinmoris opened #164 "Add CONTRIBUTING.md"
With increasing maintainers + helpers this is needed.

[2017-12-04 22:54] JonCanning commented on #164
What do you think of C4?

https://rfc.zeromq.org/spec:42/C4/

[2017-12-05 11:00] #152 closed

[2017-12-05 11:03] dustinmoris commented on #164
wow thanks, that looks very comprehensive! I like a lot of what's written in it. I think I will probably take some parts of it and try to compile something smaller for a start so that it doesn't feel like a long T&C which nobody has the time to read ^^

[2017-12-05 11:05] dustinmoris commented on #153
@forki: I can create Giraffe.SOAP under giraffe-fsharp now and make you the owner of this repo so you can push and maintain this NuGet package going forward if you like?

[2017-12-05 11:08] forki commented on #153
yes please. thank you

[2017-12-05 11:10] dustinmoris opened #165 "Split NuGet packages"
I think it might make sense to:

- Move `Giraffe.Razor` into a separate repo under the org
- Move `Giraffe.DotLiquid` into a separate repo under the org
- Move `giraffe-template` into a separate repo under the org
- Extract `Giraffe.TokenRouter` into a separate repo, let it create its own NuGet package and make @gerardtoconnor an owner of that repo so that he can take the lead on that one and also

[2017-12-05 11:17] forki commented on #165
I think TokenRouter should be promoted to the default and the other routing should be removed.

But we should definetly extract Giraffe.Tasks into own repo and make Giraffe depend on it. So we can use tasks everywhere in libs that don't need the full asp.net stack

[2017-12-05 11:31] dustinmoris commented on #165
I don't think that `TokenRouter` is a one bullet for all solution, see:

Also not sure why the other routing must be immediately removed. I think the way it is now is perfect, because everyone get's what they want and there's the choice.

Can extract Giraffe.Tasks into separate NuGet package. We were also looking at migrating to TaskBuilder.fs, but didn't get this far yesterday. I see value though

[2017-12-05 11:31] JonCanning commented on #164
I heard Peter Hintjens talking about C4 once, and the principle as I understood it was that people contributed, and that contribution was encouraged by accepting and merging PRs quickly. If you don't like something, submit your own PR, no bikeshedding, just keep the development flowing.

[2017-12-05 11:35] dustinmoris commented on #153
Ok you should be able to move your code now ;)

[2017-12-05 11:35] #153 closed

[2017-12-05 11:36] forki commented on #165
no it's definetely not perfect, because we have type issues in both ways and this doubles the efforts. Also it puts burden on users to decide which one is better while the overhead is actually very little (AFAIK). We should be more opionated here, Also removing things early in alpha phase is much better than later when people adopted things

[2017-12-05 11:39] gerardtoconnor commented on #165
I wrote this in my code for scope but in practice the token router has tiny immaterial memory footprint and the compilation is in order of ms at start-up, both negligible.

I would like to token router to be default at some stage as it is far more efficient and smart use of known data structures. Any missing functionality can be added if needed

[2017-12-05 11:45] gerardtoconnor commented on #165
@forki is type inference still not working after beta300 on strings etc (putting %d issue aside)?

[2017-12-05 11:47] forki commented on #165
I only tested it for tokenrouter and it seems to work.

Am 05.12.2017 12:45 schrieb "Gerard" <notifications@github.com>:

[2017-12-05 14:25] lambdakris opened #166 "HttpStatusCodeHandlers are not found under Giraffe namespace like the rest of the handlers"
## Summary

I am not sure if this is by design, but the recently added HTTP Status Code handlers are not currently found under the Giraffe namespace like the other handlers are.

## Reproduction
Create Giraffe project using template
[code]
Open Program.fs in editor
[code]
On line 26, try to replace 'setStatusCode 404 >=> text "Not Found"' with NOT_FOUND ""
[code]
## Expected
HTTP Status Code handl

[2017-12-05 14:54] lambdakris commented on #166
Nevermind, just realized that the status code submodules _are_ exposed under the Giraffe namespace and it is documented to qualify the handlers with the submodule that they belong to, ie. `RequestErrors.NOT_FOUND`

[2017-12-05 14:54] #166 closed

[2017-12-05 15:05] gerardtoconnor commented on #166
Opening the RequestErrors module will work in case prefixing is verbose

[2017-12-05 15:13] lambdakris opened #167 "Question about nesting routes under/within handlers...if that makes sense"
Ok, I suspect that the reply will probably be something along the lines of "Why would you want to do that" or "You are heading down the wrong path", but here goes...

Is something like this possible? Or what would be an alternative?
[code]

In my mind, it seems like it might be useful to enrich requests with data or logic as they go down a particular routing path. This seems like it could be a lig

[2017-12-05 15:36] dustinmoris commented on #167
I haven't tried your code yet, but I don't see anything which wouldn't work. Is your question regarding whether you can access the `HttpContext` from within the sub route? If yes, then the answer is yes, the `x` parameter should represent `HttpContext` if I am not mistaken, but I'd have to paste your code to try it out.

[2017-12-05 15:59] gerardtoconnor commented on #167
Hi Guys, this wont work for a number of reasons in current form

- need to open TokenRouter module, not prepend it to only router as all routing functions are in this namespace too
- as @dustinmoris points out, you need to have a 2 arg  `fun next ctx ->` to be a handler but in this case will still not work as subroute expects child routes not a handler

I would recommend not mixing data mapping in

[2017-12-05 16:03] gerardtoconnor commented on #167
Additionally, enriched additional data does not fit into the composed pipeline so cannot be optimized at initialization and instead becomes a wasteful last minute runtime decision every time. It becomes an abuse of scope closures where it is just not needed.

[2017-12-05 21:12] lambdakris commented on #167
Yeah, figured this was antithetical to the token router. Sorry for the errors in the code, it was more pseudo code since I new it would not compile regardless of what namespace I opened or arguments I declared.

I get what you mean about long term maintenance, but I can't help but think that it could help to lift and consolidate common code out of sibling handlers to a parent handler, eliminating

[2017-12-06 00:27] gerardtoconnor commented on #167
@lambdakris
in the token router, all routing functions return a function of `node->node` as it is how it threads the routing data through the radix tree parent node to create a compiled tree for runtime.

`route`, `routef`, `GET` (etc) & `subRoute` are all mapping functions that have a signature `Node -> Node` fed into the base router that compiles everything. I would prefer if the details and thi

[2017-12-06 00:54] gerardtoconnor commented on #162
What are the chances, on the same day I wrote this, someone on the Japanese f# Advent calendar wrote an article on same topic
[https://blog.recyclebin.jp/archives/4643](https://blog.recyclebin.jp/archives/4643)

[2017-12-06 08:47] dsincl12 opened #168 "dotnet new giraffe not working with dotnet 2.1.2"
I haven't investigated further yet but it works fine with 2.0.3 but nothing happens on 2.1.2 when the command is run.

[2017-12-06 11:33] dustinmoris commented on #168
Where did you test it with `2.1.2`? The [latest .NET Core SDK is 2.0.3](https://www.microsoft.com/net/download/macos) for me. Also when I look at [the roadmap](https://github.com/dotnet/core/blob/master/roadmap.md) I see that the first preview will be next year and a stable to be expected much later in the year Q2 2018.

[2017-12-06 11:43] dsincl12 commented on #168
I had it on my home workstation but I seriously have no clue how I got that version. To get back to 2.0.3 I had to delete the 2.1.2 folder. Haven't installed any RC or Beta on this computer. Anyway I'll just close this one.

[2017-12-06 11:43] #168 closed

[2017-12-06 11:50] dustinmoris commented on #168
That's weird.. did you install the latest VS update or something else which might have accidentally given you some insider build perhaps? :)

[2017-12-06 12:01] dsincl12 commented on #168
Yeah maybe, I didn't get a update notification for VS 15.5 so I downloaded and upgraded it myself.

[2017-12-06 19:57] lambdakris commented on #167
@gerardtoconnor I look forward to learning more about the token router, it is pretty impressive.

Regarding the method filters, I guess I am just used to doing something like this with the combinator style router...
[code]
With the token router what I was able to come up with was...
[code]
I see why different things are possible with the two routers, but based on the example above, I would hesitat

[2017-12-06 19:59] #167 closed

[2017-12-07 18:38] vtquan commented on #108
I have yet to find the perfect solution for this but I have move on to something else. I don't know if gerardtoconner is still thinking about this.

[2017-12-07 20:50] boyedarat commented on #161
@forki Could you share the parts where you replaced Suave with Giraffe? Not familiar with which parts of Suave matches with Giraffe. I am not familiar with Paket either.

[2017-12-08 06:49] forki commented on #161
Suave and giraffe are the Webservers they replace each other completely

Am 07.12.2017 21:50 schrieb "boyedarat" <notifications@github.com>:

[2017-12-10 19:38] GiorgioG opened #170 "Unable to create a new project with `dotnet new giraffe`"
After installing the Giraffee template and attempting to run 'dotnet new giraffe' I get the following

Nothing is created in the current directory.  What am I doing wrong?

[2017-12-10 19:46] GiorgioG commented on #170
Solved my problem, I had to use the following command "dotnet new giraffe -lang F#"

This feels like a bug in the tool chain but I'm not sure where to file it.

`dotnet --info
.NET Command Line Tools (2.1.2)

Product Information:
 Version:            2.1.2
 Commit SHA-1 hash:  5695315371

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-

[2017-12-11 13:24] vasily-kirichenko opened #171 "Configuration section returns null"
I found this example https://github.com/giraffe-fsharp/Giraffe/blob/master/samples/SampleApp/SampleApp/Program.fs#L75, but it does not work in my project
[code]
and `section.Value` is always `null`.
`appsettings.json` is
[code]

Do I need to turn handling `appsettings.json` in some special way or something?

[2017-12-11 13:52] gerardtoconnor commented on #171
Hi Vasily, For all services used, need to added in configureServices as asp.net core takes a light explicit approach of adding only service you need, nothing is really added implicitly.

[2017-12-11 14:07] vasily-kirichenko commented on #171
@gerardtoconnor What service should I add in `configureServices`?

[2017-12-11 15:05] TheAngryByrd commented on #170
Just file it where in one of the microsoft repos, they'll move it if needed.

[2017-12-11 15:05] #170 closed

[2017-12-11 15:36] vasily-kirichenko commented on #171
I'm trying this

![image](https://user-images.githubusercontent.com/873919/33838998-1c3d60ea-dea2-11e7-8ac6-11589213f1b4.png)

There is no `AddJsonFile` in `IConfigurationBuilder` interface.

[2017-12-11 16:00] gerardtoconnor commented on #171
fun fun with asp.net ...

[code]

[2017-12-11 16:15] gerardtoconnor commented on #162
@dustinmoris do we want to build this handler (and a dependency on `Antiforgery` ) into `Giraffe.Razor` by default for people using Razor? Seems a bit much to split out into its own separate nuget when 90% of its usage will be with Razor views?

[2017-12-11 16:46] TheAngryByrd commented on #162
Is razor the only time we'd want to use this?  Would other templating engines also need their own implementation?

[2017-12-11 16:50] gerardtoconnor commented on #162
I know someone would ask that :)

In order to use is in another templating engine you have to implement your own injection of the tokens on the rendering (while razor has helper built in) so yes back-end elements will be universal across templating engines but each templating engine needs a way to render & send tokens.

On that basis, may be better to put as its own package and see if any other te

[2017-12-11 16:58] dustinmoris commented on #162
I was just about to say the same.  It's a tough one, because I think it's really small for a separate package. I would tend to either move it to Razor and then duplicate the server code for other view engines or, add that dependency to core and have the server function there, because anti forgery is probably something which every application which has a user facing front end will need to implement

[2017-12-11 18:15] TheAngryByrd commented on #162
I actually do like the concept of `Giraffe.AntiForgery`.  My thinking is, Giraffe is a functional wrapper around `Asp.Net Core` libraries.  So this would "wrap" `Microsoft.AspNetCore.Antiforgery`

Pros:
* Keeps `Microsoft.AspNetCore.Antiforgery` out of the main Giraffe base.  Good because we're not adding more dependencies than we need to.
* Keeps the scope small.  Having a generic grab bag of `Se

[2017-12-11 18:41] vasily-kirichenko commented on #171
It finally works... I tried to get an json object as string, should be `config.["foo"].Get<a cli mutalble type>()`.

Thanks!

[2017-12-11 18:41] #171 closed

[2017-12-12 00:33] dustinmoris commented on #162
Ok fair enough... I think what you say makes sense. Shall we add it to Giraffe.Razor for now and when we want to add the same for other templating engines we can split it out into Giraffe.AntiForgery and set it as a dependency in Giraffe.Razor which would probably be a non breaking change.

[2017-12-12 13:12] vasily-kirichenko opened #172 "`routef` does not work on %d format specifiers"
`routef "/api/%s/%s"` matches OK, but `routef "/api/%d/%d"` does not. Is it a known issue? /cc @forki

[2017-12-12 13:14] gerardtoconnor commented on #172
%d is for int64 in routef , are you looking for int32? That is %i .
String matches should be last in a group after numbers as strings  always match on regex

[2017-12-12 13:15] forki commented on #172
routef was broken for me completely
so I moved to tokenrouter.

[2017-12-12 13:17] vasily-kirichenko commented on #172
@gerardtoconnor `%i` works OK. However, it's kind of a subtle behavior imho.
@forki :(

[2017-12-12 13:17] #172 closed

[2017-12-12 13:45] forki commented on #172
@vasily-kirichenko yes it should at least give a type error. but it does not.

[2017-12-12 14:14] gerardtoconnor commented on #172
This was a pre-existing convention but basically, issue is that there is no explicit format char for int64, with both %i & %d infering a type of int32 but if being used in printf, accepting both int32 & int64. Not sure how Suave manages to parse int64 but we need to use existing Printf format chars or there will be IDE & compile error.

[2017-12-12 14:22] dustinmoris commented on #172
Yes, I think if I remember correctly [Suave always converts into int64 and later converts into an int32](https://github.com/SuaveIO/suave/blob/master/src/Suave/Sscanf.fs#L52) based on the actual parameter type. We *could* do the same, but I thought it might be better if a user can explicitly define via %d and %i which one to use, so there's only one conversion happening overall. I think my preferr

[2017-12-12 14:25] gerardtoconnor commented on #172
I hate unneeded work being done so would be great if we could get a new explicit char introduced or figure out some other way to extend without needing waste of heavy int64 parse when only int32 needed

[2017-12-12 14:26] forki commented on #172
IMHO It's not really important how suave does it.
It's jsut a sign that type inference is not working correctly here. It would be fine it it would not compile...

[2017-12-12 16:17] dustinmoris commented on #143
Done, latest Giraffe uses [Giraffe.Tasks](https://github.com/giraffe-fsharp/Giraffe.Tasks) from a NuGet package now.

[2017-12-12 16:17] #143 closed

[2017-12-12 16:17] forki commented on #143
Awesome. thanks
brb upgrading

2017-12-12 17:17 GMT+01:00 Dustin Moris Gorski <notifications@github.com>:

[2017-12-12 17:29] dustinmoris commented on #162
A new NuGet for `Giraffe.Razor` is being built as I type. I added a [validateAntiforgerToken](https://github.com/giraffe-fsharp/Giraffe.Razor#validateantiforgerytoken) handler to Razor for now.

[2017-12-12 17:29] #162 closed

[2017-12-12 17:33] dustinmoris commented on #165
I've moved `Giraffe.Razor`, `Giraffe.DotLiquid` and `Giraffe.Tasks` into their own repos and NuGet packages. I left `Giraffe.TokenRouter` in Giraffe with the outlook that it might become the default routing option at some point. I'll take a break now and will probably later tonight or tomorrow finish by moving the template into a separate repo, especially now where it has a dependency on `Giraffe.

[2017-12-14 04:40] boyedarat commented on #161
@forki what is the equivalent for "startWebServer config webPart"?

[2017-12-14 06:48] lambdakris commented on #161
The "equivalent" of the Suave "startWebServer" function in Giraffe would be an instance of the [ASP.NET Core WebHostBuilder class](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/hosting?tabs=aspnetcore2x) with the use of the Configure extension method or a [custom Startup class](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/startup). Something like
[code]
This usage of the A

[2017-12-14 08:20] jussimattila opened #173 "dotnet new giraffe requires -lang F# option"
Hi,

I have previously created a Giraffe project using `dotnet new giraffe` succesfully. Last night I installed Visual Studio 15.5.1 and this morning `dotnet new giraffe` failed. The command showed help and Giraffe Web App (F#) but nothing was created in the folder:
[code]
Before trying to issue the command, I was required to re-install the templates even though I had them installed before the VS

[2017-12-14 13:52] cmeeren opened #175 "Allow deserialization to unit"
Newsonsoft.Json can deserialize `null` or the empty string `""` to unit without any problems. However, Giraffe's `BindModelAsync` throws `System.MissingMethodException: 'No parameterless constructor defined for this object.'`

I'd like to be able to deserialize to `unit` in order to avoid having to special-case functions that do not accept a model (these take `unit` instead).

[2017-12-14 14:10] gerardtoconnor commented on #175
Can you give us an example of the structure you are serializing with `unit` in it? `unit`, like `void` signifies no bound return value from an expression so might help if we can see data as all expressions should be evaluated by time of serialization and the absence of data can usually be expressed in many ways.

[2017-12-14 14:29] cmeeren commented on #175
First a bit of background:

The functions that represent my API endpoints (my usecases, if you will) do not know anything about Giraffe or any other framework. They have the following signature:

[code]

where `'requestArgs` is normally a record type containing the parameters for the API endpoint, for example:

[code]

This is defined in a separate type like this to make it easy for the accompanyi

[2017-12-14 15:03] JonCanning commented on #175
If you have F# both ends, could you use DUs?

[code]

Then you only have one route and the handler pattern matches the `Request` and returns a `Response`?

[code]

[2017-12-14 15:28] cmeeren commented on #175
That's actually not a bad idea. I'll have to think on that for a bit.

Regardless, since Giraffe uses Newtonsoft.Json under the hood, I'd expect it to be able to serialization and deserialize the same kinds of objects.

[2017-12-14 15:33] lambdakris commented on #175
Isn't the `System.MissingMethodException: 'No parameterless constructor defined for this object.'` error typically because you need to decorate your type with a [<CLIMutable>] attribute?

It looks like the various .Bind... HttpContext extension methods use the generic data binding technique where you create an instance of the generic type with a parameterless constructor and populate the fields of

[2017-12-14 15:34] gerardtoconnor commented on #175
Jon's suggestion is nice and will lead to less bugs down the line as you are domain modelling all permutations explicitly ... but in the end I would have concern you are over abstracting here as you know before the handle function is called which case it is and therefore, your binding of model needlessly for `GetTaskList` when no model really to bind. All your handle Fn seems to be doing is shortc

[2017-12-15 08:28] JonCanning commented on #79
https://github.com/Microsoft/OpenAPI.NET

[2017-12-15 09:48] vasily-kirichenko opened #176 "`routef` shadows another `routef`"
I have the following routes:

[code]
`/api` works
`/api/hosts` works
`/api/hosts/foo` works
but
`/api/hosts/a/b/33/log` - does not.

If I remove `routef "/%s"`, then `routef "/%s/%s/%i/log"` starts working. It seems the first one is too "greedy" and "shadows" the last one?

[2017-12-15 09:49] vasily-kirichenko commented on #176
[code]

[2017-12-15 10:38] vasily-kirichenko commented on #176
Aha! If I put more specific route first, then it works ok:
[code]

[2017-12-15 10:38] #176 closed

[2017-12-15 10:52] gerardtoconnor commented on #176
@vasily-kirichenko
`choose` will iteratively work down the list of routing functions trying to match so if it is able to match before it gets to a more specific rule it will, similar to guards on match statements.

If using the token router, you don't get this issue as it will map all the routes to a tree and order, therefore, doesn't matter.

[2017-12-15 11:10] cmeeren opened #177 "ReadBodyFromRequestAsync sometimes returns empty string even when body is not empty"
I'm experiencing a weird problem. When I use `ctx.ReadBodyFromRequestAsync()`, it will occasionally return empty string instead of the body I know for sure is there. I try the same request over and over again, and occasionally I get an empty string. See the images below - "ContentLength" indicates there is indeed content, but I get an empty string.

![contentlength](https://user-images.githubuserc

[2017-12-15 11:15] vasily-kirichenko commented on #176
TokenRouter rocks, the code is cleaner too. Thanks!

[2017-12-15 11:46] gerardtoconnor commented on #176
Well, the main benefit is speed, it uses hand-rolled parsers as well as radix matching tree so 2x - 3x faster for match/parse ... and has the benefit of not having any `choose` gotchas as maps unique deterministic paths rather than trial and error matches, @forki is a fan too due to its better consistency.

[2017-12-15 11:56] gerardtoconnor commented on #177
Hi @cmeeren old friend 😄
We have encountered fringe cases like this before where stream appears to be disposed of aggressively by asp.net core before properly read (or after an initial read).

In order to further look into this, can you provide any prior handlers in the pipeline before you try to read the body in the handler above?

It may be that something is triggering a read of body stream befo

[2017-12-15 12:00] gerardtoconnor commented on #175
@cmeeren is there anything further you need on this or can we proceed to close?

I think the general gist is:
- don't over abstract
- model domain more explicitly
- if you are serializing `unit`, data structure needs review as `unit` represents an empty expression

[2017-12-15 12:16] gerardtoconnor commented on #173
This would appear outside our direct control, this is an update to the dotnet cli which would appear to assume all implicit `new` commands are c# unless `-lang f#` explicitly provided. We can probably chase this up with VS team and see if they can provide further insight. @cartermp

[2017-12-15 12:23] cmeeren commented on #177
[code]

where `trackApiVersion` is defined like

[code]

and `handleV4` calls `ReadBodyFromRequestAsync` on its first line.

[2017-12-15 12:28] cmeeren commented on #177
And as I said, this happens randomly, maybe 1 out of 10 times

[2017-12-15 12:29] cmeeren commented on #177
I also occasionally get a `NullReferenceException` on `ctx.ReadBodyFromRequestAsync()` instead of an empty body.

[2017-12-15 12:36] cmeeren commented on #175
I'm good, closing. Thanks for suggestions!

[2017-12-15 12:36] #175 closed

[2017-12-15 12:53] cmeeren commented on #177
Also note that I cannot reproduce the problem with `BindJsonAsync`. The reason I'm using `ReadBodyFromRequestAsync` and deserializing using `JsonConvert.DeserializeObject` is, as mentioned in #175, that my app and API communicates by sending shared, serialized objects (in an assembly referenced by both) back and forth, and I need to be sure that serialization and deserialization are compatible.

[2017-12-16 16:59] alfonsogarciacaro opened #178 "Make JSON serializer configurable"
Reference https://github.com/SAFE-Stack/SAFE-BookStore/pull/255#issuecomment-352194907

Some users may have particular needs in JSON serialization. For example, when interacting with Fable apps you need to [pass the Fable.JsonConverter](http://fable.io/docs/interacting.html#json-serialization). This means you cannot use the default http handlers in Giraffe and they need to be customized. Two alter

[2017-12-16 21:12] dustinmoris commented on #173
This must have changed in `dotnet new`, because I am 100% confident that previously you didn't have to specify the `-lang` parameter. I think this is probably a regression bug with `dotnet new` and we should file in the [dotnet cli repository](https://github.com/dotnet/cli), because it would make totally sense that if a template only supports a single language that the `dotnet new [template]` comm

[2017-12-16 21:31] dustinmoris commented on #177
Ok so the only thing I noticed is that `BindJsonAsync` uses `deserializeJsonFromStream` from `Giraffe.Common` underneath and that function is reading from the `Stream` synchronously (which we should actually fix), so perhaps the async nature of `ReadBodyFromRequestAsync` is linked to this issue again similar to what we have seen in another issue before. This needs further investigation.

The [impl

[2017-12-16 21:57] cartermp commented on #173
This is indeed a new change, as in [my blog post](https://blogs.msdn.microsoft.com/dotnet/2017/09/26/build-a-web-service-with-f-and-net-core-2-0/) I instruct people to type:

`dotnet new giraffe -o GiraffeSample`

So an issue on the CLI would be the right thing.

[2017-12-16 22:00] dustinmoris commented on #178
Hmm... I agree that it is not ideal at the moment and the more often I read your issue and think about other similar issues in the past I agree that we could have done much better with the current implementation.

The first thought which comes to my mind would be to use ASP.NET Core's DI model to solve this issue in a more elegant way.

For example, we could change the current `json` http handler

[2017-12-16 22:10] alfonsogarciacaro commented on #178
Thanks for your reply @dustinmoris. I fully agree, given that Giraffe integrates with ASP.NET Core DI model this makes total sense. My only doubt is if this should be only for the JsonSerializeSettings (that would be enough for Fable's case) or the full JSON serialization. Is someone out there **not** using Newtonsoft.Json?

[2017-12-16 22:12] dustinmoris commented on #178
Yeah if we could configure the entire JSON serialization this way that would be perfect. What would be the common interface between Newtonsoft and other JSON serializers? This would probably require us to implement our own interface which then can be used by apps to override the default Newtonsoft implementation. It's a valid point and worth considering before making any breaking changes!

[2017-12-16 22:19] dustinmoris commented on #178
Some pseudo code to demonstrate how we could entirely swap Newtonsoft if someone would want to use a different serializer in the Giraffe http handlers:

[code]

[2017-12-16 22:28] dustinmoris commented on #173
Done: https://github.com/dotnet/cli/issues/8257

[2017-12-16 22:45] dustinmoris commented on #178
Sorry, one last thought - I could implement both options together. For example having an abstract type `IGiraffeJsonSerializer` which can be used to completely swap out Newtonsoft if someone wants to use a different JSON serializer everywhere in Giraffe and on top of that I can implement the `NewtonsoftGiraffeJsonSerializer` as seen above, which then can again try to load the `JsonSerializerSettin

[2017-12-17 00:03] gerardtoconnor commented on #178
Although DI is a solution I think we should look at it as a last resort as it is frankly bad programming as we are making compile-time decisions at run-time, using a boxing dictionary & lookup everytime we want to do a json operation. All this seems to be just to avoid having to create our own JsonConverter mutable state but we are just indirectly doing it in a less efficient manner using DI here.

[2017-12-17 00:12] gerardtoconnor commented on #178
In the above case, we could tweak all configurable settings to DUs such that
[code]
And at startup server builder can ensure all states set and configured from ServerConfig list, setting defaults where overrides not provided.

Just thinking of multiple ways we can fix as I dont think Json Converters will be the only thing people will end up wanting to override.

[2017-12-17 07:27] dustinmoris commented on #178
Hey, that's an interesting approach! Just got a few questions to clarify:

Not sure if we really make compile-time decisions at run-time? DI frameworks don't have to box/unbox since they use generics right? I would expect a simple dictionary lookup of a singleton to be as fast as it can be. I am not an expert with how things work low level, but I would have thought that a lookup of a dictionary it

[2017-12-17 07:44] vasily-kirichenko commented on #178
I like the straightforward DI approach (injecting IGiraffeJsonSerializer). It’s idiomatic, simple, transparent, and it will work as asp.net core is evolving.

[2017-12-17 07:51] forki commented on #178
same as the lookup of a mutable variable,

Dictionary lookup is pretty fast in .NET, but at least couple of orders of
magnetic slower than just using a variable. And regarding boxing. No
generics don't help, because you need to put everything into the dictionary
as object. That is the common base type. So every extracting needs to
unbox. That's slowest part. But tbf this is only one boxing per req

[2017-12-17 08:18] dustinmoris commented on #178
My understanding was that because of Generics we didn't have to store things as objects anymore, that was a big improvement in .NET 2.0. Just googled it to refresh my mind and came across [this on SO](https://stackoverflow.com/questions/4403055/boxing-and-unboxing-with-generics).

[2017-12-17 08:27] forki commented on #178
Yes that's the idea of generics. To have something like List of T. And that
works without boxing. But think about the DI stuff. It needs to be
Dictionary of (string * all the types that are injectable). And that's
making it obj. And boxing comes back.

Am 17.12.2017 09:18 schrieb "Dustin Moris Gorski" <notifications@github.com

[2017-12-17 08:34] forki commented on #178
Btw if you use a common interface IInjectable or something then you don't need boxing and you can just use up and downcasts. But then again everything needs to implement that interface.

[2017-12-17 11:21] gerardtoconnor commented on #178
I'm am not an expert on low-level, but am familiar with JIT , IL and how F# is compiled and executed and represented/run as asm. Basically, as Steffen has described, DI is just a Dictionary of
[code]
And when you add a dependency you are down-casting (cheap) your interfaced type into an obj, and when you look it up later, it is pulling out the obj and up-casting (expensive) it back to your interfa

[2017-12-17 11:25] gerardtoconnor commented on #178
And one small thing on configuring a generic interface, not to be stickler further but most of the usage of json serialisation should be between streams and types, not string and types as the string is an unneeded interim data structure that is high on allocation, potentially hitting LOH, and slower and less efficient as a result. We currently use Stream json binding to great effect.

[2017-12-18 12:01] forki commented on #178
https://github.com/giraffe-fsharp/Giraffe/pull/179 is another way to solve it

[2017-12-18 14:35] boyedarat commented on #161
Translated the server code the best I could, compiles fine, but I can't get the web server started. Here is the error that I got:
`[HPM] Error occurred while trying to proxy request /api/init from localhost:8080 to http://localhost:8085 (ECONNREFUSED) (https://nodejs.org/api/errors.html#errors_common_system_errors)`

Here is the converted code for the server module:
[code]
Source: https://github.c

[2017-12-18 16:24] bizmonger opened #183 "SampleApp: HttpContext::SignInAsync doesn't appear to be supported anymore"
In the SampleApp, HttpContext::SignInAsync doesn't appear to be supported anymore.
However, people such as myself rely on this sample project for guidance on how to use the Giraffe framework.

In conclusion, what is the alternative to using HttpContext::SignInAsync ?

**Giraffe: v0.1.0-beta-500**

Example:
[code]

[2017-12-19 10:40] dustinmoris commented on #178
Re performance of DI frameworks:

As I said before I am not a low level expert, but unless someone can really prove that a DI framework has a real perf impact I highly doubt that is the case. DI frameworks ar defacto the standard in any OO application and many of such web apps which I have written were extremely high performing and I never hit a perf issue due to DI. I believe that even a plain Ke

[2017-12-19 10:44] dustinmoris commented on #178
Ok, there were many things being mentioned here and also being discussed in #179 and I am keen on agreeing on a general strategy for configuration before this issue or #179 can be completed.

There are a few competing ideas and while I agree that there's no silver bullet for all I would like to avoid at all events to have multiple different ways of configuring different parts of Giraffe and creati

[2017-12-19 10:48] forki commented on #178
I don't think Kestrel uses DI. Why would it? And tbh I'm not worried about perf in DI.

that's excatly what happens with DI if don't take care of the scope. ;-) No difference at all seriously.

[2017-12-19 10:59] dustinmoris commented on #178
[code]

In this example above it is easily possible to have both tests completely being independent and isolated from other tests. In test A we use te DI config from `A.configureServices` and in test B we use `B.onfigureServices`. If my default test runner runs both tests in parallel (which is what most people want to get a quicker feedback loop) then I would always have a reliable result.

On the

[2017-12-19 11:01] forki commented on #178
ah now I see what you mean. ;-) of course you would not want to make it that global ;-)

    [<Fact>]
    let ``Test A`` () =
        let setting = "A"
        let host =
            WebHostBuilder()
                .Configure(Action<IApplicationBuilder> A.configureApp)
        use server = new TestServer(host,setting)
        use client = server.CreateClient()

        get client "/" |> shouldEqu

[2017-12-19 11:03] forki commented on #178
[<Fact>]
    let ``Test DefaultSettings`` () =
        let host =
            WebHostBuilder()
                .Configure(Action<IApplicationBuilder> B.configureApp)
        use server = new TestServer(host)
        use client = server.CreateClient()

        get client "/" |> shouldEqual "C"

[2017-12-19 11:12] dustinmoris commented on #178
Ok, but how does the ASP.NET `TestServer` all of a sudden know about `setting`? If we have for example `let mutable SomeSetting = DefaultSetting` then it is global in that entire test assembly and not just for the specific unit test.

I think your example is more similar to what I described by extending the `HttpHandler` to expose a config variable, which we could pass in when initialising the Gir

[2017-12-19 11:18] forki commented on #178
you need to control the scope, that is definetly true. and you don't want to set it global global. I hope I can find time later today to refactor my PR to reperesent that a bit better.

[2017-12-19 11:28] dustinmoris commented on #178
@forki cool, thanks and looking forward to seeing it

[2017-12-19 11:37] dustinmoris commented on #183
What do you mean it isn't supported anymore? Did ASP.NET Core deprecate it? This is an extension method which comes from `Microsoft.AspNetCore.Authentication.AuthenticationHttpContextExtensions` and you need to add the relevant NuGet packages for it.

[2017-12-19 11:38] dustinmoris commented on #183
Please check [Using Cookie Authentication without ASP.NET Core Identity
](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?tabs=aspnetcore2x) for detailed info.

[2017-12-19 11:39] gerardtoconnor commented on #178
This transient DI calls concrete type constructor EVERY time, so on every single request we would be constructing & allocating an eg. JsonConstructor State obj which would certainly destroy performance, <Type,obj> acts as a cached result to prevent this. no one said boxing, we said casting, and down-casting is relatively expensive in JIT (obj -> 'T) vs up-casting (as validations required), but not

[2017-12-19 11:48] dustinmoris commented on #178
@gerardtoconnor Thanks for your input. I think being able to see the material perf impact of DI vs. globals would be interesting indeed. We are not creating a new JsonConverter a million times per second in a loop, one request would create exactly one object IF the route ends up returning a JSON response. A typical app creates a thousand of objects along the way, so creating +-1 really shouldn't m

[2017-12-19 11:53] forki commented on #178
Kestrel <> ASP.NET Core <> MVC

But that said: I think if you put it into the DI then it's at least consistent.
I experimented with the 3rd approach (new cfg param in the handlers) it actually felt really nice. Btu yes it's a big change with impact everywhere.

[2017-12-19 11:58] dustinmoris commented on #178
@forki Yes, I am only trying to get clarity on the actual implications of every option. Personally I think DI has a lot of pros, which is not surprising when I think it is widely used and considered a good standard. Right after DI I think I'd prefer the third param option and last the globals one. I'm not worried about breaking changes if the benefit outweighs the one time pain which some users wi

[2017-12-19 12:01] gerardtoconnor commented on #178
I get what you are saying, thing is 1000 design decisions that add only 0.5% performance slowdown, in total, lead to a system 500% slower so its maintaining best perf throughout while maintaining the elegant public api.

If you look at all the perf tests asp.net core do, plain text, json, etc, none use DI, they all use barebone server components so they know DI comes with compromise but where it i

[2017-12-19 12:02] forki commented on #178
Yes from some part of the development community. Not so much from another
part ;-)
But since you already made the decision to set giraffe on top of asp.net
core and not kestrel this decision is basically already settled.
I'm not in favor of that, but that does not matter. All things together I
think the argument for consistency wins.

Am 19.12.2017 12:58 schrieb "Dustin Moris Gorski" <notification

[2017-12-19 12:05] dustinmoris commented on #178
@gerardtoconnor

[code]

[2017-12-19 12:22] dustinmoris commented on #178
Agree, this is why I'd prefer DI overall if you ask me. Also it isn't just json. Json is today, tomorrow it will be XML, then for @forki it is the default unacceptable handler during `negotiate`, for someone else it will be the list of supported mime types in `negotiate`, etc. The more feature rich Giraffe will become the more requirements will grow where people will need to customise central part

[2017-12-19 12:25] forki commented on #178
I think we are fine with json. The problem is that negioate is used
everywhere in the request errors and I can't customize it

Am 19.12.2017 13:13 schrieb "Gerard" <notifications@github.com>:

[2017-12-19 12:48] bizmonger commented on #183
I never considered that. Thanks. It compiles now.

[2017-12-19 12:48] #183 closed

[2017-12-19 13:59] isaacabraham opened #184 "routef with %d doesn't work?"
I have a `routef` route that looks like `%s/%s/%d`. It never finds a matching route at runtime but compiles. If I replace the route with `%s/%s/%i`, it works fine.

[2017-12-19 14:06] dustinmoris commented on #184
`%i` stands for integer and `%d` for `int64`, which is probably what is causing the issue. This is non standard, but because there is currently no format parameter for int64s and two format parameters for int32 (why?) I decided to use one for int64s, because I thought that this might be desired for some applications.

[2017-12-19 14:08] gerardtoconnor commented on #184
@dustinmoris not sure what we can do but most users seems to use '%d' by default for int and as a result get these issues continually raised.

@isaacabraham do you normally always use `%d` over '%i' for int pattern?

[2017-12-19 14:13] dustinmoris commented on #184
Yes.. it was a 50/50 chance after all. Ideally I would want to get a format parameter for `int64`, something like `%l` (for long) and then remove either `%i` or `%d` because I don't even understand why there is two format strings for a single data type. I always thought that `%d` is confusing as it can be easily misinterpreted by someone less familiar with F# to stand for `DateTime` or `Decimal` a

[2017-12-19 14:18] isaacabraham commented on #184
@gerardtoconnor yeah, I personally always use `%d`. Not sure if that's a good indicator of what's representative of the community though :-)

You could look to ameliorate this issue by making the routing engine go pop if it ever sees a `%d` route with guidance to move over to `%i`, and / or put some `///` comment that says the same thing?

[2017-12-19 14:21] gerardtoconnor commented on #184
yeah it's a tough one to handle. I think we need to build in a type checker at startup (once-off check) to ensure the types match up so users can get immediate feedback. I'll have a look at this.

[2017-12-19 14:31] vtquan commented on #108
Apparently there was a changes how Giraffe handles route and now the original Suave instruction ``type IntPath = PrintfFormat<(int -> string),unit,string,string,int>`` will work for Giraffe without modification. I don't know which PR is responsible for this but thank you to all who work on this change.

[2017-12-19 14:31] #108 closed

[2017-12-19 14:34] alfonsogarciacaro commented on #178
This is a very interesting discussion, thanks a lot for your comments! I agree performance is a very important consideration, though when we had to take similar decisions in Fable in most of the cases usability proved to be more important than raw performance (particularly when it's difficult to measure). That's why I was favoring the DI approach for consistence with ASP.NET Core, though I'm start

[2017-12-19 14:52] dustinmoris commented on #178
Oh good point, if we'd replace a static config type with mutables with an interface in the 3rd parameter option then we'd basically eliminate all downsides from that option, because now a user could implement any desired complexity into the custom type.

Example:

[code]

[2017-12-19 15:03] vtquan commented on #184
When I first got started with Giraffe, I tried to use ``%d`` because I just come from the Suave Music Store tutorial which used ``%d`` and expecting it to carry over since the rest of the syntax was so familiar. I am sure that this is the case for a lot of people. Beside a type checker, I would like to see documentation on how to match on an int64 because without it, even though I know that ``%d``

[2017-12-19 15:47] gerardtoconnor commented on #108
That was me, there is a bug in StringFormat abbreviation so was needed for better type restriction, glad to hear it's working for you.

[2017-12-19 18:13] gerardtoconnor commented on #184
About to do PR now, error received at startup looks like:
[code]

[2017-12-19 18:55] vtquan commented on #108
I see. Thank you again @gerardtoconnor!

[2017-12-19 19:19] #165 closed

[2017-12-20 03:57] gerardtoconnor commented on #178
[code]
|       Method |       Mean |     Error |    StdDev | Scaled | ScaledSD |  Gen 0 | Allocated |
|------------- |-----------:|----------:|----------:|-------:|---------:|-------:|----------:|
|       Direct |  0.1960 ns | 0.0121 ns | 0.0107 ns |   1.00 |     0.00 |      - |       0 B |
| DepInjection | 67.8828 ns | 1.3381 ns | 1.2516 ns | 347.34 |    19.27 | 0.0056 |      24 B |

Just getting

[2017-12-20 09:47] alfonsogarciacaro commented on #178
Thanks for the benchmarks @gerardtoconnor! This helps a lot to understand the actual difference between using DI or direct invocation :+1:

@dustinmoris I was also thinking that too big an interface can be cumbersome to implement. The only solution I can think right now is to make only a single method available and then extend default options as FAKE APIs usually do:

[code]

It's true that like t

[2017-12-20 11:40] dustinmoris commented on #138
FSharpEngine, FunkyEngine, GiraffeEngine, GiraffeViewEngine, FuncEngine, FunEngine, Fungine, GEngine,...

[2017-12-20 13:47] nojaf commented on #138
Naming is hard, I'm currently working on a project where I use this ViewEngine inside a Suave application (Long story short couldn't use Giraffe in combination with Mono, gave up and used Suave instead) so maybe it should have an unrelated name.

See [handlebars](http://handlebarsjs.com/), [pug](https://pugjs.org/api/getting-started.html), [Blade](https://laravel.com/docs/5.5/blade), [Razor](https

[2017-12-20 13:49] gerardtoconnor commented on #138
We are going down a dark path ... 🤣.

If you want to make it a new `GiraffeViewEngine` I can re-write it to work the same but be way faster ... it is currently an allocation nightmare but no-one has complained so left it alone. For easy perf improvement without breaking api (precompiling parts to compressed byte []), we can simply change all tags to inline byte flags and have runtime renderer(er)

[2017-12-20 13:49] forki commented on #138
don't call it Zebra!

@nojaf why would you want to use mono? Isn't everyone happy that we got rid of it?

[2017-12-20 13:52] gerardtoconnor commented on #138
@forki too many things being called Zebra already :stuck_out_tongue_closed_eyes:

+1 on why use mono !?

[2017-12-20 13:56] dustinmoris commented on #138
lol, ok.. actually... on a serious note... why not... just for fun, actually... call it... `ZebraEngine` :)

[2017-12-20 13:58] dustinmoris commented on #138
Ehm... that sounds amazing :). Sounds like that usage remains the same, so it would be great improvement!

[2017-12-20 14:00] gerardtoconnor commented on #138
I may be able to borrow from Fable Compiler/AST and have function decomposed and compiled into a render state machine which would be fastest, but my proposed changes above a simple enough so will submit that for now.

[2017-12-20 14:06] nojaf commented on #138
I'm using TypeProviders and I guess after reading [this](https://github.com/Microsoft/visualfsharp/issues/3303) I still didn't know fully grasp if it is possible to run this on dotnet core. Feel free to ping me on the slack to have a talk about this.

+1 For perf, had no idea on that. Just thinking out loud here but could it be done to re-use [Fable React](https://github.com/fable-compiler/fable-r

[2017-12-20 14:11] forki commented on #138
TPs are possible in general. SQLProvider already works.

[2017-12-20 14:12] gerardtoconnor commented on #138
@nojaf Typeproviders mostly working on .netcore now, Don has been hammering out the finer details and repos need to be updated but many working now.

[2017-12-20 14:17] gerardtoconnor commented on #138
Could what be done? Fable React and this View engine are two very different animals for different purposes, This view engine is for basic server-side rendering with minimal dependencies and set up, React Fable is for a full flegged SPA client and requires alot more setup. @forki has been building a seperate GAFE tempate that uses Fable React with Giraffe as render engine. (almost done I believe ?)

[2017-12-20 14:18] dustinmoris commented on #138
@gerardtoconnor Before you start any refactoring, would you be happy naming it `GiraffeViewEngine` ?

[2017-12-20 14:19] forki commented on #138
Yes. https://github.com/SAFE-Stack/SAFE-BookStore/pull/255 is done. Just
waiting for Giraffe to do something about negotiate issue.

Am 20.12.2017 15:17 schrieb "Gerard" <notifications@github.com>:

[2017-12-20 14:20] nojaf commented on #138
@gerardtoconnor nevermind that, the idea was to re-use the functions Fable.React uses.
But they are lead to [native js](https://github.com/fable-compiler/fable-react/blob/master/src/Fable.React/Fable.Helpers.React.fs#L590).

[2017-12-20 14:24] gerardtoconnor commented on #138
@dustinmoris I am pretty agnostic and indifferent on the naming so others can chime in as they wish ... `GiraffeViewEngine` seems like a clean simple option.

@nojaf we can go and extend with any functions we want from Fable.React provided they are non-breaking and no client/js dependencies.

[2017-12-21 16:15] dustinmoris commented on #184
Closing this now as @gerardtoconnor fix has been released yesterday.

[2017-12-21 16:15] #184 closed

[2017-12-21 16:16] dustinmoris commented on #177
@cmeeren Hey, we have had a bug fix in the `ReadBodyFromRequestAsync` method in the last release and wanted to double check if you can still reproduce the issue or if this has fixed it for you?

[2017-12-22 08:45] forki opened #188 "Add integration/end-to-end tests"
I would like to see simple tests that create a webserver and try to browse it with some client.

[2017-12-22 09:11] dustinmoris commented on #188
You mean beyond the `TestHost` tests which you can do with ASP.NET Core? Selenium is what I've been using pre .NET Core everywhere, but not sure what the latest status is there now..

[2017-12-22 09:15] forki commented on #188
no. not UI test. That's another dimension (for later).

I mean:
* start asp.net core
* add couple of routes
* create HttpClient in the test and browse the server

I will then copy such tests and expand it for the sockets:
* start asp.net core
* open Giraffe.Sockets on server
* create a few socketclients in the test
* send messages...

[2017-12-22 11:58] dustinmoris commented on #173
Root issue in dotnet/templating has been closed.

[2017-12-22 11:58] #173 closed

[2017-12-22 12:00] dustinmoris commented on #161
I am going to close this as there is already an issue open for this in the SAFE-Stack repo and @forki has produced the first working version of "GAFE" in this pull request: https://github.com/SAFE-Stack/SAFE-BookStore/pull/255

[2017-12-22 12:00] #161 closed

[2017-12-22 12:00] dustinmoris commented on #138
Thanks for the work on this, closing now.

[2017-12-22 12:00] #138 closed

[2017-12-22 12:06] dustinmoris commented on #130
I moved this issue to the [giraffe-template](https://github.com/giraffe-fsharp/giraffe-template) repo now.

[2017-12-22 12:06] #130 closed

[2017-12-22 16:36] #44 closed

[2017-12-22 17:10] TheAngryByrd commented on #188
So different from stuff like:

https://github.com/giraffe-fsharp/Giraffe/blob/master/tests/Giraffe.Tests/HttpContextExtensionsTests.fs#L680

and

https://github.com/giraffe-fsharp/Giraffe/blob/master/samples/SampleApp/SampleApp.Tests/Tests.fs#L108

[2017-12-22 17:38] TheAngryByrd opened #190 "Running tests on mono-net461"
`dotnet test` is broken on mono (https://github.com/Microsoft/vstest/issues/1318) but if we use `dotnet-xunit` I added support for mono a while ago.  We had this discussion previously in https://github.com/giraffe-fsharp/Giraffe/pull/58 but seems like it's not in beta anymore so this may be worth considering.  Thoughts?

[2017-12-22 17:43] forki commented on #188
I think that's a good start. Did not see these yet.

Am 22.12.2017 18:10 schrieb "Jimmy Byrd" <notifications@github.com>:

[2017-12-22 18:54] dustinmoris commented on #188
I have updated the giraffe template today as well. If you get the latest
version you can run `dotnet new giraffe --IncludeTests` which will create a
default test project for integration tests.

On 22 Dec 2017 18:43, "Steffen Forkmann" <notifications@github.com> wrote:

I think that's a good start. Did not see these yet.

Am 22.12.2017 18:10 schrieb "Jimmy Byrd" <notifications@github.com>:

issueco

[2017-12-22 19:23] forki commented on #188
Nice

Am 22.12.2017 19:54 schrieb "Dustin Moris Gorski" <notifications@github.com

[2017-12-22 19:29] TheAngryByrd commented on #188
@forki I'll send you a PR with a basic test real quick

[2017-12-23 09:30] dustinmoris commented on #190
I'm up for `dotnet xunit` if it solves the issue!

[2017-12-23 11:26] alfonsogarciacaro opened #191 "Questions about ASP.NET Core Middleware vs function composition"
Hi there! I'm starting ASP.NET Core and Giraffe and I have some confusion around the Middleware model vs simple function composition. If my understanding is correct, middleware is configured on startup and then the framework is responsible to call each middleware in order (though each can stop the chain simply by not calling `next`). However with function composition you must be explicit on the ha

[2017-12-23 11:33] dustinmoris commented on #191
Hi, sure no problem I can see where the confusion comes in.

Middleware is the lower level architecture of ASP.NET Core which allows composable web applications. While you could in theory write a whole app with middleware only, it is usually more favourable to plug a higher level framework (such as MVC or Giraffe) into the middleware and then handle all web app responsibilities from within that fr

[2017-12-23 11:43] dustinmoris commented on #191
The difference between ASP.NET Core middleware and the function composition in Giraffe is very slim. Giraffe is basically functional middleware. Think of it like ASP.NET Core middleware is the OO way of middleware and Giraffe took that concept (as it is very powerful) and then translated it into a much simpler functional variant (Giraffe is a functional copy of OO middleware). However, Giraffe doe

[2017-12-23 16:42] dustinmoris commented on #177
Closing now as this is believed to be fixed. Please reopen if you're still experiencing the same problem.

[2017-12-23 16:42] #177 closed

[2017-12-23 21:37] dustinmoris commented on #136
Closing as this has been fixed and I believe it was related to #186

[2017-12-23 21:37] #136 closed

[2017-12-23 22:54] dustinmoris commented on #178
I've started on a feature branch where I tested a first version of using DI.

The handler `customJson` and all overloads in the `Giraffe.HttpContextExtensions` module which accepted `JsonSerializerSettings` have been deleted.

Instead a user can register a different `IJsonSerializer` now in the startup code:

[code]

If a user wants to keep using Newtonsoft, but with different settings then they c

[2017-12-23 23:26] alfonsogarciacaro commented on #191
Thanks a lot for your quick and detailed response, that's really helpful! I understand now where my confusion came from. My misunderstanding was to think the `next` in ASP.NET Core and Giraffe were the same thing, while they're actually different. I thought invoking `next` in Giraffe was actually calling the next ASP.NET Core middleware, but you have to return None for that.

Again, thanks for you

[2017-12-23 23:30] dustinmoris commented on #191
Perfect, glad I could help!

[2017-12-23 23:30] #191 closed

[2017-12-23 23:56] alfonsogarciacaro commented on #178
Great work @dustinmoris! Yes, the more I think about this the more convinced I am DI is the way to go. Apparently the two central concepts of ASP.NET Core are middleware and dependency injection. And given that Giraffe replicates the middleware approach, it would be unintuitive for users if it moves away from DI (specially when you still have to use DI nonetheless to configure the logger and other

[2017-12-24 07:30] vasily-kirichenko commented on #178
@dustinmoris looks really intuitive, simple and idiomatic. Great job!

[2017-12-24 14:43] dustinmoris commented on #178
Just pushed another change to the feature branch which can be used for evaluation. I added an [`INegotiationConfig`](https://github.com/giraffe-fsharp/Giraffe/commit/51c27a93efa568b0090b7b5ea380ee1d725cd386#diff-8f2eec86bef243297319c406614b0989R9) interface which can be used to customise the default `negotiate` handler as well.

Also someone more clever than me pointed out that we shouldn't regist

[2017-12-26 08:00] forki opened #196 "Readme should use requesterror module instead of setstatuscode"
In the readme we have many places where we use fish + setstatuscode. We should change that to simpler samples that use Requesterror module

[2017-12-28 09:38] dburriss commented on #79
We use Swagger extensively at work for things like:
- PO checking input/output on a new feature
- Documentation of the APIs
- Auto-generation of clients for the APIs for various programming languages

It definitely beats maintaining a yaml file (which I have done in the past) for both creation and staying up to date.
Not having this would unfortunately make Giraffe a non-starter in an environment

[2017-12-28 13:23] whitebear-gh commented on #121
Hi @Alxandr ,

I was trying to use your snippet, but I have some problem after copy/paste your code:
![image](https://user-images.githubusercontent.com/6932866/34411978-ae16aa5e-ebda-11e7-915b-f3e299e1f841.png)

Any suggestions?

[2017-12-28 14:27] Alxandr commented on #121
As far as I can see, your issue is indentation. The operators needs to be indented more than `static`, but less than the factory function.

[2017-12-28 15:31] whitebear-gh commented on #121
Thanks for quick replay, unfortunately it's not because of indentation (sorry for misleading screen - I was playing with format). With correct indentation I have the same error:
![image](https://user-images.githubusercontent.com/6932866/34414946-577328f0-ebec-11e7-9803-448b425bad58.png)

```error FS0001: Expecting a type supporting the operator '<!>' but given a function type. You may be missing a

[2017-12-28 18:03] jonashw commented on #121
@Alxandr I have discovered that `ctx.BindQuery` isn't "doing it for me" either.  The problems for me where these:

- *reference-type* model properties not present in the querystring would end up with *null* values on my bound model instance
- *value-type* model properties not present in the querystring would end up with *default* values (ie. 0 for `int`)
- lack of `List` / `Set` support

It appear

[2017-12-28 19:06] gerardtoconnor commented on #121
This does not look nice/simple to me, you have had to state each property name 3x, one time being loosely by string that is not verified and susceptible to run time error, as well as importing the whole Chiron library and using funky operators.

Rather then bloat the base with this it might be worth trying to review underlying issues first:

@jonashw thanks for providing the following feedback, of

[2017-12-28 20:44] jonashw commented on #121
I've gone ahead and added support for Lists/Sets in my own custom version of `BindQueryString`.  I have not written automated tests for it but it works in my sample app.  Required a little refactoring of the existing code to accommodate multi-values.

[code]

[2017-12-28 20:47] jonashw commented on #121
Note that the above does not address the `null` problem though it has at least made the presence of `null` explicit.  (`| Other, None -> null`)

[2017-12-29 08:39] Alxandr commented on #121
@gerardtoconnor You don't have to like it, nor do you have to use it. I posted this here because some people might like it, and it fits well with the functional paradigm of programming web services (in my opinion). But since it was just a single file, I didn't want to make it a library that nobody ever found. But to respond to a bit of your feedback:

This is sort of true, but also not necessary.

[2017-12-29 12:36] vasily-kirichenko opened #198 "Huge unmanaged memory leak running on IIS"
So I have a simple Giraffe server, which has a number of Akka actors running in it. It works totally OK being run locally as a console app, no memory leaks at all. I deployed it to IIS and mentioned that dotnet process quickly eats memory (it takes it about 5 minutes to grab 2GB starting from 150MB), after that IIS kills it (AFAIK) and start a new process.

Profiling with dotMemory showed that unm

[2017-12-29 12:52] whitebear-gh commented on #121
@Alxandr thanks a lot!
Adding `open Giraffe.Query.Operators` helped, and I'm looking forward to use it in my project.
Thanks for helping noob like me :)

[2017-12-29 15:05] #198 closed

[2017-12-29 15:13] forki commented on #198
what was the solution?

[2017-12-29 15:17] vasily-kirichenko commented on #198
It seems that's how IIS manages memory. After removing every 5 minutes pool recycling policy it almost stop eating the memory and was 2.6GB after running for an hour. I will see what it looks like tomorrow.

Anyway, all the memory was unmanaged, so it looks like a pre-allocation that does Core if it sees a lot of free memory (~60GB in my case).

[2017-12-30 20:56] #190 closed

[2017-12-30 22:05] cmeeren commented on #177
Unable to reproduce using latest nuget (0.1.0 beta 700). Thanks!

[2017-12-30 22:08] forki commented on #177
Yay!

Am 30.12.2017 23:05 schrieb "Christer van der Meeren" <
notifications@github.com>:

[2018-01-03 20:39] TheAngryByrd commented on #164
Also a coworker turned me on to https://mozillascience.github.io/working-open-workshop/contributing/

[2018-01-05 13:45] whitebear-gh opened #201 "Accept slashes at the end of path in route*"
Hello,

In most REST frameworks it is possible to accept path with or without slash at the end, ie:

we have a route `api/customers` it should be reached when we types both
`url/api/customers` and
`url/api/customers/`

and the same if we specify route with slash the end it should match both cases.

Is it possible to add such behavior?

[2018-01-05 13:56] whitebear-gh opened #202 "Add DateTime to routef"
Hi

It would be nice to be able to get `DateTime` / `DateTimeOffset` parameters from path using `routef`.
Is there any reason you don't handle such case or just not implemented yet?

[2018-01-05 14:42] gerardtoconnor commented on #202
Hi @whitebear-gh
The main reason is due to

1. printf type inference not having a `DateTime` type, it only handles primitives
2. The format of a datetime differs greatly between client/server, for eg, if sending from javascript browser, many will send as ticks from 1970, while others will send as long UTC string etc

If a general format could be agreed, and a way to infer it in printf, then we cou

[2018-01-05 14:50] gerardtoconnor commented on #201
hi @whitebear-gh

Everything is possible, question is, is it worth adding to api surface (and all the additional coding work) to add this feature into library by default.

This has been raised before to make it the default implicit action on all routes which was not accepted but it might be worth looking into an alternative handler option for people who need it, if demand is there.

I will wait to

[2018-01-05 15:17] gerardtoconnor commented on #158
@forki I know breaking changes are annoying but when I created the method filter functions I overlooked the fact that many people like to do filter as last leg in chain eg:
[code]
So I am wondering how I handle it and if I have two separate functions for each method eg for `GET`:

1. `GET`       : HttpHandler -> Node -> Node
2. `GETGRP` : (Node -> Node) list -> Node

not changing anything yet but

[2018-01-05 16:13] dustinmoris commented on #164
Thanks that is a really nice and helpful tutorial! I'll try to find some time soon to go through all of this and put a first draft together!

[2018-01-05 16:44] dustinmoris commented on #202
Agreed, there's so many ways of formatting a date/time string that it will be very difficult to get it right for everyone, when in contrast it is extremely easy for each individual application to implement it's own handler with its own specific format requirements.

You could also just use a string format for your date variable and then validate it afterwards, e.g.:

[code]

[2018-01-05 17:14] dustinmoris commented on #201
Hi,

I understand that for *most* web applications they do not differentiate between a route with a trailing slash or not, however from a web servers point of view and according to the HTTP spec there IS a difference between two such routes.

This means that a web framework like Giraffe cannot treat two routes like `/hello/world` and /hello/world/` as the same, because there *might* be some web ap

[2018-01-05 17:39] whitebear-gh commented on #202
Wow, thanks for great, fast and detailed answers. Appreciate that :)
Thanks for clarification - issue can be closed.

[2018-01-05 17:39] #202 closed

[2018-01-05 17:43] whitebear-gh commented on #201
Thanks for great answers, with that explanation I agree that it should be left as it is.  would be nice to have an option to use regex in `router` method, but to be honest I will probably never use it to handle slashes.

[2018-01-05 23:42] ian-moore opened #203 "Error in task builder with .NET Core 2"
I am upgrading some code to .NET Core 2 (on sdk 2.1.3)

I have the following function:
[code]

Which results in the following run time error:
[code]

Can't seem to pin down if this is a problem in the library or I have somehow made a bad task - opening an issue in case this has come up before or some debugging guidance. Apologies if this issue belongs on the Giraffe.Tasks repo.

[2018-01-06 00:02] TheAngryByrd commented on #203
I just looked and it doesn't appear we have any tests around `Async<'a>` in  https://github.com/giraffe-fsharp/Giraffe.Tasks/blob/master/tests/Giraffe.Tasks.Tests/TasksTests.fs

I'll try to reproduce there.

[2018-01-06 00:10] gerardtoconnor commented on #203
Thanks Jimmy, this is an interesting one, looks like bind overload not recognizing Async, Ian, might be worth testing if Async.AwaitTask works on ar?

[2018-01-06 00:12] ian-moore commented on #203
@gerardtoconnor indeed, I tried `let! = Async.StartAsTask ar` and get the same error

[2018-01-06 00:19] TheAngryByrd commented on #203
Is there any particularly interesting about that `Async<'a>` ?  I can't seem to reproduce with some tests.

[2018-01-06 00:40] ian-moore commented on #203
Not sure what would qualify as "interesting". I'll keep digging

[2018-01-06 01:26] ian-moore commented on #203
Ok, I've narrowed this down when running against the `Giraffe.Tasks` source. I have a `do!` that is resulting in a faulted task and the actual error (in my application code) was getting swallowed in there before being thrown.

Is there I can get that error surfaced from `Binder<>.GenericAwait`, or should `do!` always be used in a try block?

[2018-01-06 01:50] gerardtoconnor commented on #203
@ian-moore can you try bind with
[code]
Instead of do! ... i think @forki encountered this binding on do! Also

[2018-01-06 14:53] whitebear-gh opened #204 "Default authorization handlers"
Hi guys,

I just added simple basic authentication handler to my app so I wanted to ask if would you like to accept PR  with such handler. I know that you want to keep Giraffe as thin as possible so I wanted to ask if this is direction you would like to follow (similar handler is i.e. in Suave [link](https://github.com/SuaveIO/suave/blob/9e96504a2196429ba4be6c0362438342fc39f56a/src/Suave/Authentic

[2018-01-08 00:39] ian-moore commented on #203
I tried to reproduce this outside of my project in a clean template and wasn't able to. Farthest I was able to get was that `return!` and `do!` only worked when using GenericAwait instead of GenericAwaitConfigureFalse. Not sure if that provides any insight or not.

I will close this task until I have better details as I'm going to try re-working some things instead of troubleshooting further.

[2018-01-08 00:39] #203 closed

[2018-01-08 08:59] gerardtoconnor commented on #203
we're always interested on fixing these edge cases so do let us know how you get on, thanks for reporting this.

[2018-01-10 13:38] scorelocity opened #205 "VS2017 Manage User Secrets tool not working"
Not sure if this is a Giraffe issue, but Visual Studio 2017 has a tool to assist in managing application secrets:

https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?tabs=visual-studio

When this tool is used, a UserSecretsId node is added to the PropertyGroup node in the .fsproj file. When a F# Giraffe web application is then compiled, the following error is returned:

error FS0433

[2018-01-10 22:00] dustinmoris commented on #205
Hi, thanks for reporting. I am pretty confident that this is not a Giraffe issue, but more likely related to the Secret Manager tool. Can you maybe post your fsproj here? But the issue is most certainly not Giraffe, because Giraffe is only a single NuGet package and it sounds like your problem will persist after removing that NuGet package from your fsproj. Now the question is if you have some fun

[2018-01-11 12:59] colinbull commented on #205
I pretty sure that the secrets manager relies on codegen providers thus probably does not work at all with F#

[2018-01-12 01:25] scorelocity commented on #205
Yes, the same problem happens with a regular F# web application without Giraffe. Thanks.

Closing.

[2018-01-12 01:25] #205 closed

[2018-01-13 15:38] mamcx opened #206 "NullReferenceException when using routeBind with Sum Type"
This is a weird one:

[code]

When a wrong path is called (like /customers/bla) it get converted to this:

`{{sort = null;}}`

Instead of give a 404 as expected. Is very unexpected that Giraffe somehow broke the union type here.

Giraffe Version="0.1.0-beta-700"

[2018-01-13 17:04] JonCanning commented on #206
`routeBind` creates a dictionary and uses JObject to convert that into a type

https://github.com/giraffe-fsharp/Giraffe/blob/57d2b6f1447c92a941bce30ce21986ce5d530ef9/src/Giraffe/HttpHandlers.fs#L246

For this to work with a union, you're going to have to create a `JsonConverter` so it knows how to convert the string. It's a bit hairy.

[code]

[2018-01-13 22:40] mamcx commented on #206
This is no the expected behavior from a native F# library. I understand why is like that, so maybe is better to clarify to have a CLI_MUTABLE struct? Or get a map instead?

[2018-01-14 02:50] mamcx commented on #206
I'm using https://github.com/Microsoft/fsharplu/wiki/fsharplu.json and it
serialize right the F# types.

2018-01-13 17:46 GMT-05:00 Dustin Moris Gorski <notifications@github.com>:

--
Mario A.Montoya
Gerente
http://www.elmalabarista.com

Haz pedidos & facturas con tu iPhone: http://www.elmalabarista.co
<http://www.elmalabarista.com/>*m/bestseller*

[2018-01-17 15:27] gerardtoconnor commented on #138
Just as quick follow up on Html Rendering engine.

https://github.com/gerardtoconnor/ViewEngineTests

the long and short of it was, although I could get render to be 5.6x faster (is using in-memory stream), using IO, to filesystem/sockets, diluted the perf gain down to negligible, like 6-7% better, not really worth it unless IO bottleneck improves somehow. I only did micro benchmarks so might be m

[2018-01-18 01:32] mamcx opened #207 "Efficiently stream back a large json/strings?"
I have a API method to return back log records. It obviously could be a very large response.

I use other JSON library because I need to handle correctly F# types. So, I just need to know how stream back a sequence of strings:

    let downloadJson(json, fromVersion, total) =
        use db  = openConn()

        download db fromVersion total
        |> Seq.map(fun x -> x |> toJson)

(Seq in F# is

[2018-01-18 06:47] dustinmoris commented on #138
@gerardtoconnor Nice, thanks for those tests! I think I'll have to speak to you in Slack to fully understand each of these options!

[2018-01-18 06:51] dustinmoris commented on #207
Hi, I am actually [working on a proper streaming capability](https://github.com/giraffe-fsharp/Giraffe/pull/200#issuecomment-355977272) in Giraffe and intending to hopefully release that work this week!

[2018-01-18 13:16] mamcx commented on #207
And this is great! and timely.

2018-01-18 1:51 GMT-05:00 Dustin Moris Gorski <notifications@github.com>:

--
Mario A.Montoya
Gerente
http://www.elmalabarista.com

Haz pedidos & facturas con tu iPhone: http://www.elmalabarista.co
<http://www.elmalabarista.com/>*m/bestseller*

[2018-01-19 15:27] dustinmoris commented on #196
Thanks @forki  for the suggestion and @vtquan  for the PR!

[2018-01-19 15:27] #196 closed

[2018-01-25 21:06] #201 closed

[2018-01-26 22:30] lambdakris opened #215 "Nested task ce issue with htmlFile when hosted on IIS"
## Description
I am having one of those seemingly async related issues with an app I deployed to an IIS server.

It is simply the use of the htmlFile handler, something like so...
[code]
It runs fine when debugging or when launching from dotnet cli, but when I deploy it to an IIS server I begin to get the following exception:
[code]
I have the wwwroot setup so that it is available both when runnin

[2018-01-26 22:48] dustinmoris commented on #215
Hi, thanks for this great bug report and the analysis! In 2. you probably meant to replace the second line with the `StreamReader`, because I don't know of any `FileReader`, correct?

I think 2. is a sensible approach. I think 1. and 2. are technically equivalent, but 2. maybe slightly more elegant as it has less code.

Generally the `StreamReader` is used for reading text content and `FileStream`

[2018-01-26 23:27] dustinmoris commented on #215
Maybe it's because it's late for me today, but something else is extremely confusing...

The docs and my code both show the constructor to require a `StringSegment`: https://docs.microsoft.com/en-us/dotnet/api/microsoft.net.http.headers.entitytagheadervalue.-ctor?view=aspnetcore-2.0

However, the linked file from above doesn't... also the namespaces are different:
`Microsoft.Net.Http.Headers` vs `

[2018-01-27 01:13] lambdakris commented on #215
@dustinmoris heh, yeah, `StreamReader` is what I was going for. After reading the corefx issue you pointed to, https://github.com/dotnet/corefx/pull/8642, it does sound like using StreamReader by itself might be a good default since it delegates the specifics of how best to initialize/manage the FileStream to the platform. I'd be happy to submit a PR.

[2018-01-29 08:50] alfonsogarciacaro commented on #44
Thanks a lot @kirse! I couldn't make the deployment work until I found this issue. In case it helps others, I also [wrote a guide](https://gist.github.com/alfonsogarciacaro/578ed3cadf091121715e461c8902ac9f) for deploying Giraffe apps to Azure. It'll be nice to have an option in the template to add `web.config` indeed.

[2018-01-29 08:55] dustinmoris commented on #44
Thank you @alfonsogarciacaro! I will add the web.config to the templates, good call!

[2018-01-29 09:36] dustinmoris commented on #44
@alfonsogarciacaro The giraffe-template version 0.13.0 and up have the web.config by default now.

[2018-01-31 22:04] rflechner commented on #79
Hi,

I did not find solution to populate ApiDescription.

But I explored another solution in this PR https://github.com/giraffe-fsharp/Giraffe/pull/218

Regards,

@rflechner

[2018-02-01 13:54] SoulFireMage commented on #122
This problem still exists in the Giraffe template - I can't make the Giraffe.Razor stuff work at all right now. Any update to this?

[2018-02-01 15:32] lambdakris commented on #215
@dustinmoris do you prefer to close issues when the PR is accepted or when a release with the PR is published?

[2018-02-05 22:45] kspeakman commented on #81
@gerardtoconnor @dustinmoris To follow up on this, I implemented my own idiomatic API on top of Kestrel -- like the old version of Giraffe -- for my own uses. I do not need that many features, so it was a tiny effort. However, I did eventually arrive at the conclusion that **Task-based is probably the right approach**, especially if you return `ValueTask` for combinators that just filter out reque

[2018-02-06 14:55] nikonthethird opened #219 "Dispose is not called in HttpHandler"
Using the latest available version of Giraffe on Nuget, the following never prints `"DISPOSED"`:

[code]

The line `"BEFORE DISPOSE"` is printed in the console, but `"DISPOSED"` never is. What's going on here?

[2018-02-06 14:57] nikonthethird commented on #219
The output window shows the following:

[code]

[2018-02-06 17:04] TWith2Sugars opened #220 "Can a SubRouteF concept work?"
I found my self in a situation using saturnframwork where I needed to "forward" to a url such as "/api/%i"
I started to add forwardf to saturn by looking at how forward was implemented and realized it ultimately called subRoute.

I couldn't find an existing subRouteF functions and I attempted to add it my self (by seeing how subroute and route/routef work) but I really have no idea what I'm doing.

[2018-02-06 17:10] dustinmoris commented on #215
Oh I did miss this message.. yeah I will close this issue when the fix goes out!

[2018-02-06 17:25] dustinmoris commented on #219
Thanks for reporting! Moved to https://github.com/giraffe-fsharp/Giraffe.Tasks/issues/1

[2018-02-06 17:25] #219 closed

[2018-02-06 17:51] gerardtoconnor commented on #220
Hi,

A subRoute is just a common url stub for a collection of routes with the same prefix eg `/api/`

If you want to have a `/api/%i` that will parse after the api, and only one route is using this pattern, it's just a route(f), not a subroute as there is no grouping. If you are grouping routes please provide some examples but from above, and in general, `subRouteF` doesn't make sense as you canno

[2018-02-06 19:01] TWith2Sugars commented on #220
I see, that makes sense. The issue is really down to how I structure my app.

Overall I'm attempting to get [saturn's forward](https://github.com/SaturnFramework/Saturn/blob/master/sample/Saturn.Sample/Saturn.Sample.fs#L134) to work like it's getf. I'll create an issue there and see if I can figure out to work it.

[2018-02-06 19:01] #220 closed

[2018-02-06 19:06] gerardtoconnor commented on #220
If you are parsing the argument directly after api, instead of having more child routes that you probably do not want to use the "forward" but instead, just a plain `getf` as is is just one routing function, not many.

[2018-02-08 20:15] mamcx opened #221 "How implement token based auth (no OAUTH)"
I need to support basic token auth, similar to:

https://getblimp.github.io/django-rest-framework-jwt/#rest-framework-jwt-auth

I will use JWT to store data and to authenticate, but not to use OAuth or a external provider (all the examples I found are like that).

The token will be generated based in a username/pass (for humans) and app_id/app_key (for APIs). I already have solved this part, but n

[2018-02-08 21:52] TheAngryByrd commented on #221
Have you looked at https://github.com/giraffe-fsharp/Giraffe/blob/master/samples/JwtApp/JwtApp/Program.fs ?

[2018-02-09 01:38] dustinmoris commented on #215
This went out today with `Giraffe 1.0.0`.

[2018-02-09 01:38] #215 closed

[2018-02-09 01:38] dustinmoris commented on #207
This went out today with `Giraffe 1.0.0`.

[2018-02-09 01:38] #207 closed

[2018-02-09 01:40] dustinmoris commented on #178
This went out today with `Giraffe 1.0.0`. See the [Giraffe Documentation](https://github.com/giraffe-fsharp/Giraffe/blob/master/DOCUMENTATION.md#json) for more information.

[2018-02-09 01:40] #178 closed

[2018-02-09 02:01] mamcx commented on #221
Is the use of :

[code]
mean that it delegate to google the auth? I don't wanna to do that. I do the auth myself.

[2018-02-09 02:05] dustinmoris commented on #154
Type inference issues should be fixed now with the latest version of TaskBuilder.fs.

[2018-02-09 02:05] #154 closed

[2018-02-09 02:06] dustinmoris commented on #144
I'm closing this as I believe the question has been answered, but if there's any more confusion please feel free to re-open this issue again.

[2018-02-09 02:06] #144 closed

[2018-02-09 02:09] dustinmoris commented on #158
Moved to https://github.com/giraffe-fsharp/Giraffe.TokenRouter/issues/1

[2018-02-09 02:09] #158 closed

[2018-02-09 08:23] forki opened #222 "Abandoning Giraffe.Tasks in Giraffe 1.0 broke all our Task workflows"
![image](https://user-images.githubusercontent.com/57396/36018112-d43f66a0-0d7a-11e8-8c2a-b2613af6fef1.png)

![image](https://user-images.githubusercontent.com/57396/36018120-d9569668-0d7a-11e8-81a1-39ad1a2f80ea.png)

I don't think it was a good idea to abandon the project and to go something that is missing a lot of patches.

[2018-02-09 08:30] gerardtoconnor commented on #222
Did not know we were abandoning Giraffe.Tasks, we lose control to fix issues by changing dependency to static TaskBuilder.fs .

TaskBuilder.fs is not perfect and now bakes limitations into platform going forward, not sure why this was not discussed before release.

[2018-02-09 09:37] TheAngryByrd commented on #222
I'm also surprised we didn't release a 1.0.0-betaxxx to allow testing of these many changes.

[2018-02-09 10:09] forki commented on #222
`open FSharp.Control.Tasks.ContextInsensitive` seems to work for this particular issue

[2018-02-09 10:09] #222 closed

[2018-02-09 22:35] mamcx commented on #221
I found the sample I need at:

https://medium.com/@dsincl12/json-web-token-with-giraffe-and-f-4cebe1c3ef3b

[2018-02-09 22:35] #221 closed

[2018-02-09 22:37] dustinmoris commented on #221
Great that you could resolve your question. I'll add the blog post to the README as well.

[2018-02-10 12:52] Lanayx opened #223 "Is there a cleaner way to compose with routef?"
In the sample file there are lines

[code]

https://github.com/giraffe-fsharp/Giraffe/blob/master/samples/SampleApp/SampleApp/Program.fs#L71-L73

So _mustBeAdmin_ filter moves from all routes configuration to particular handler. Is there a better way to have both _routef_ and _mustBeAdmin_ composed together like _route_  routes?

[2018-02-10 13:13] dustinmoris commented on #223
Hi,

Yes, you could also do this:

[code]

[2018-02-10 13:15] Lanayx commented on #223
In my app I want to have some routes secured and some not, just like in the sample app, so I want to apply mustBeAdmin on route basis. And this works fine with _route_, but not fine with _routef_

[2018-02-10 13:18] dustinmoris commented on #223
Ok I understand... can you give me a more concrete example. The `routef` handler has obviously a dynamic element where some part of the route is whatever a user has typed into a URL. You could use `subRoute` or `routeStartsWith` in combination with an auth handler before all routef handlers:

[code]

[2018-02-10 13:25] dustinmoris commented on #223
This is another example:

[code]

[2018-02-10 13:26] Lanayx commented on #223
So, here is the sample, I want this urls:
_/en/articles/top_
_/en/article/123_
to be public and this url
_/en/dashboard_
to be private
I was planning to have such rules:
[code]
Is there a way to implement this?

[2018-02-10 13:33] Lanayx commented on #223
I see, looks like you mean that I need to exchange _authorize_ and _routef_?

[2018-02-10 13:41] Lanayx commented on #223
I think that there is one issue there. If user enteres the wrong url, it will go through the authorization step first, which includes database interaction, while it could be just rejected by the wrong url. I think urls check should go before the user verification.

[2018-02-10 13:51] dustinmoris commented on #223
Right.. because you have a dynamic `%s` at the very beginning of your route I think you are better by having the authorize inside the handler like shown in the first example which you referred to.

To be fair this is the first use case where I see how a `subRouteF` could make sense... let me think about it and perhaps I'll try to implement something which can make this more elegant for you, but fo

[2018-02-10 13:57] Lanayx commented on #223
Ok, thank you for the response

[2018-02-10 22:58] Nhowka opened #224 "Policy-based auth"
Looking at the asp.net docs, I found that feature could be useful. https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies

Is there a way to use it from Giraffe like the Roles?

[2018-02-11 00:18] dustinmoris commented on #220
In #223 someone had actually a valid use case for `subRoutef`. A `subRoutef` http handler has now been added and will be released with the next version of Giraffe.

[2018-02-11 00:20] dustinmoris commented on #223
I have added a `subRoutef` http handler which will be available with the next release.

See [subRoutef](https://github.com/giraffe-fsharp/Giraffe/blob/develop/DOCUMENTATION.md#subroutef)

[2018-02-11 00:43] dustinmoris commented on #206
Hi @mamcx,

In your example the route `/customers/bla` technically matches the pattern `/customers/{sortBy}`, but `bla` is an invalid value for `Sorted`.

I think there are a few ways how this could be handled:

- If `bla` fails to parse to `Sorted` then throw exception
- if `bla` fails to parse to `Sorted` then abort route (which will eventually end up at the 404 if no other handler picks up the

[2018-02-11 00:58] dustinmoris commented on #204
Hi,

First of all I'm sorry for this late reply.

Secondly thank you for creating this issue and trying to improve Giraffe! Your `basicAuth` handler looks alright in principal, but unfortunately Basic Authentication is not recommended anymore due to its potential insecurity, which is why ASP.NET Core doesn't have a BasicAuthenticationMiddleware by default anymore.

Also the preferred way in adding

[2018-02-11 01:01] dustinmoris commented on #188
@forki Can this be closed or is there still something missing?

[2018-02-11 02:12] mamcx commented on #206
I expect the second to hold. The reason is that is exactly what I using the union type and not just a string, ie, why "int" work, but "Int Or String" not?

In python, I could use a regex to parse the posibilities.

[2018-02-11 08:14] #188 closed

[2018-02-11 09:21] Lanayx commented on #223
Thank you! But looks like there will still be no way to silently pass the lang argument further in the compose pipe. I'm just comparing it with asp.net mvc were you just put [Authorize] attribute regardless of the route, but the workaround in your example looks sufficient, at least for now I don't think the surrounding function can become too complex.

[2018-02-11 09:44] dustinmoris commented on #223
You can do this now:

[code]

[2018-02-11 10:05] dustinmoris commented on #223
But, if you don't want to pre-parse the first parameter, there is another option which will work as well. For actually a very different reason (trailing slash handling) I have just finished implementing a `routex` handler: https://github.com/giraffe-fsharp/Giraffe/blob/develop/DOCUMENTATION.md#routex

With that you could check the route is correct before doing authorize and then use the full `rout

[2018-02-11 10:38] dustinmoris commented on #206
Ok, makes sense...

Could you please explain what you meant by

serialize right the F# types.

How did you use FSharpLu with the previous version of Giraffe?

[2018-02-11 11:16] Lanayx commented on #223
You are right, I wanted to be less verbose and don't specify lang parameter in the route configuration code. For example I could also have private route /en/my-articles/123 with route **/%s/my-articles/%s**, so this will introduce more nested functions. The solution with routex looks more attractive for me, however I'm a bit worried about performance if regex is used there =)

[2018-02-11 11:20] dustinmoris commented on #223
Fair enough :). The regex is compiled so should be considerably faster than normal, but I understand your concerns. Unfortunately this is the best I can offer for now.

[2018-02-11 11:22] Lanayx commented on #223
I see, thank you for such quick cooperation anyway!

[2018-02-11 17:09] mamcx commented on #206
This is how I do this:

[code]

I just replace the json calls with my own things, without inject into Giraffe (I don't like much magic ;), also waiting for the support to streaming large data to see how it could be...)

[2018-02-11 17:28] TWith2Sugars commented on #220
Thanks! I was getting no where trying to add it in saturn.

[2018-02-12 09:11] cmeeren opened #225 "Impossible to use let! with Async-returning functions inside task CE since 1.0.0"
Just upgraded to 1.0.0, and can't compile. It seems it's suddenly impossible to use

[code]

The error I get is `The type Async<snip> is not compatible with the type Task<snip>`.

I know you've moved from your own internal TaskBuilder.fs to [Robert Peele's version](https://github.com/rspeele/TaskBuilder.fs), and that any questions regarding TaskBuilder.fs belongs there, but I'm wondering if this c

[2018-02-12 10:12] dustinmoris commented on #225
Hi,

Sorry for causing the inconvenience. In Giraffe.Tasks we had an additional overload which did a simple `Async.StartAsTask`, so you could do that now, but I have also openen an issue in TaskBuilder.fs to see if we can get that convenience overload back in again.

I don't quite understand why you would have to change the return type of your highest level Async-returning functions. Could you not

[2018-02-12 10:14] cmeeren commented on #225
D'oh 🤦‍♂️ Of course I could. Thanks. :)

[2018-02-12 10:14] dustinmoris commented on #225
Ok perfect :)

[2018-02-12 11:13] toburger commented on #204
Is this the general best practice for every ASP.NET Core middleware?

For example imagine I want to allow CORS only for a specific subroute:

[code]

As far as I understand you I should register the ASP.NET CORS middleware globally when setting up the infrastructure and then opt in on a specific route?
Or is there a way to dynamically register the middleware based on the route?

[2018-02-12 11:35] dustinmoris commented on #121
So I was reading all the feedback from this issue and I am working on improving `BindQueryString` (and other methods such as `BindFormAsync` which I believe should match the behaviour of `BindQueryString` and `routeBind` from the http handlers).

I was thinking to do the following:

- The current `BindQueryString` method will remain as is in order to not break existing functionality and also becau

[2018-02-12 11:41] dustinmoris commented on #204
@toburger Yes, so I am actually looking at improving the CORS in Giraffe. The way it is in MVC is that you register CORS middleware once in an ASP.NET Core app and then use an attribute  to decorate the controller methods which should have cors enabled.

In Giraffe I need to create a new http handler which will do the same what the attribute does in MVC.

I hope to get this done over the course of

[2018-02-12 11:43] Alxandr commented on #121
I would still use my helper, because I really don't like the imperative API of `BindQueryString`. Also don't really like how it's reflection based. Another point to add. If you want a MVC-like `BindQueryString` and `BindForm`, you might really want to consider how you deal with missing values and validation. There is a reason MVC has `ModelState` and uses `[<Required>]`. It fits really well with t

[2018-02-12 12:46] toburger commented on #204
I see!
Coming from Suave it needs a bit of rethinking because basically everything was built from a WebPart (like in this [CORS](http://www.fssnip.net/mL/title/CORS-response-with-Suave) example).
Whereas in Giraffe you leverage the underlying ASP.NET Core architecture.

[2018-02-12 13:14] dustinmoris commented on #204
Agreed... the good thing is you can still use the same model as in Suave and just build all CORS handlers from scratch yourself, but it's worth exploring the ASP.NET Core way first perhaps... because it's nice how you can configure different policies in one place and then decorate individual routes with different CORS policies. Just opening up to all domains (*) and all headers (*) is a very crude

[2018-02-12 13:28] dustinmoris commented on #121
@Alxandr Thanks for the reply! What you say regarding the `ModelState` this is a good point. To be honest I don't like the attribute driven validation, because these attributes don't mean anything in other parts of the code where there is no API to evaluate them. The F# way of making something required is much better, just declare a property normally and make optional properties explicitly via `Op

[2018-02-12 13:33] Alxandr commented on #121
Hmm. Imperative might have been the wrong name. What I mainly don't like is the fact that you need to have the `ctx` available. With my example, you still stay in the realm of "WebParts" and functions (not using methods).

[code]

[2018-02-12 13:35] Alxandr commented on #121
Also; you can bake validation into the types themselves. The static `FromQuery` method can contain validation, ensuring that any values that successfully deserialize are valid.

[2018-02-12 14:03] dustinmoris commented on #121
Ah ok I see... yeah that is quite nice... hmm thanks for helping me understand the issue better!

Since you seem to be very response right now can you quickly provide me an example how a client would pass a list in a query string?

I am trying to address this as well:

Thank you for the help so far!

[2018-02-12 15:16] Alxandr commented on #121
There are multiple ways to pass lists using query strings. And arguments on which ones are the best 😛 . As far as I know MVC uses `user[]=foo&user[]=bar` to create lists/arrays. This is one of the most explicit ways (though not my personal favorite).

## Ways:

### `user=foo&user=bar`:

**Advantages**:
* Clean and simple, nice URLs.

**Disadvantages**:
* `user=foo` = list? or scalar? Note that I t

[2018-02-12 15:51] TWith2Sugars commented on #220
Do you have a roadmap for when the next version is released?

[2018-02-12 16:07] lambdakris commented on #121
Something to consider regarding lists/arrays in query strings is compatibility with frontend libraries. For example, many JavaScript libraries follow the first convention `users=user1&users=user2&users=user3`:
- https://nodejs.org/api/querystring.html#querystring_querystring_stringify_obj_sep_eq_options
- https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams/append & https://developer.m

[2018-02-12 16:31] dustinmoris commented on #121
Awesome, thank you for all the information!

[2018-02-12 16:31] dustinmoris commented on #220
I am aiming for some point this week!

[2018-02-12 18:08] mamcx commented on #206
I think the problem is more universal. For example:

[code]

In BindJsonAsync it get a `System.NullReferenceException`. The thing is binding is parsing and that could fail. I'm ok with wrap into a try/except but then at least provide a custom exception so is clear the problem is parsing and not something else. Or make it a `Option` instead.

[2018-02-12 18:49] mamcx opened #226 "How return a exception inside a task?"
I try to write the auth part for generating tokens for my Api:

[code]

But how return that the handle fail? If I put `failwithf` it give me a type mismatch. I try look at the docs and try with `RequestErrors` and is the same

[2018-02-12 20:28] Potmos opened #227 "How to post files"
I've been looking for a way to post files using giraffe, but I dont know how. The documentation is not clear about it, it says that in the SampleApp there is an example of it but I don't see how.

[2018-02-13 11:00] dustinmoris commented on #226
You forgot to put a `return!` for returning the request error.

[code]

If you want to throw an exception instead (even though this would be less FSharpy) then you can also do `return failwith ""`.

Hope that helps!

[2018-02-13 11:03] dustinmoris commented on #226
I'll close this issue as it was only a question, but if you have more questions feel free to re-open again or you can also try to get help in Slack: fsharp.slack.com. More info [here](https://github.com/giraffe-fsharp/Giraffe#contact-and-slack-channel).

[2018-02-13 11:03] #226 closed

[2018-02-13 11:04] dustinmoris commented on #227
Oh yeah sorry I think that might have been removed there. I'll put it in again, but you can [find examples here](https://github.com/giraffe-fsharp/Giraffe/issues/48#issuecomment-302924969).

[2018-02-13 11:04] forki commented on #226
small correction: it's `return! failwith "..."`
you need the bang

[2018-02-13 11:05] #225 closed

[2018-02-13 11:10] dustinmoris commented on #224
Hi, policy based auth is on my list. I am aiming to have this ready for the 1.2.0 release. 1.1.0 is aimed at going out latest by the end of this week just to give you some time frame.

[2018-02-13 11:11] dustinmoris commented on #204
I'm closing this now as I think there's nothing to do at this point, but feel free to re-open again if you disagree with anything I said or have a different suggestion!

[2018-02-13 11:11] #204 closed

[2018-02-13 11:39] dustinmoris commented on #226
Thanks @forki :)

[2018-02-13 16:07] BrianVallelunga opened #228 "Request: Documention on return types other than text/json"
How do I go about returning a specific status code from an HttpHandler? For example, I might want to return an Accepted or OK status codes without content. The examples just show using json and text.

Thanks

[2018-02-13 22:26] mamcx opened #229 "An exception in errorHandler cause to return HTTP/1.1 200 OK"
I have a bug in my error handler:

[code]

But instead of get the error, It return:
[code]

I have Giraffe 1.0.0

[code]

[2018-02-13 22:45] mamcx opened #230 "Body is not returned in error handler on 1.0"
I just upgrade to 1.0 and then I can't get the body with the exception messages:

[code]

Get:

[code]

[2018-02-14 10:55] alfonsogarciacaro opened #231 "Awaiting non-generic task"
According to the latest blog post, Giraffe now has a dependency on `TaskBuilder`. After upgrading to Giraffe 1.0 the compiler complains with the following error:

![image](https://user-images.githubusercontent.com/8275461/36200592-81246d6a-117d-11e8-9e1e-dc73858e6a83.png)

This is because `CreateDB` returns `Task` instead of `Task<unit>` which makes sense because it belongs to a C# project. Howeve

[2018-02-14 10:57] forki commented on #231
open FSharp.Control.Tasks.ContextInsensitive

[2018-02-14 12:48] dustinmoris commented on #229
Hi,

This is sort of normal/expected behaviour. Your error handler is responsible for returning an error response, but if your error handler has an error itself then it will of course return something useless. Handling errors from an error handler would require you to wrap your error handler in another error handler, which doesn't make sense because then you'd end up wrapping error handlers infini

[2018-02-14 12:48] #229 closed

[2018-02-14 12:54] dustinmoris commented on #230
Hi,

You probably didn't register the new Giraffe dependencies which need to happen during startup:

[code]

I have noted it in the release notes but forgotten to add it to the documentation. Will add it to the docs as well.

[2018-02-14 12:54] dustinmoris commented on #231
I'll put a big note in the docs so it's more obvious.

[2018-02-14 13:01] #231 closed

[2018-02-14 13:02] alfonsogarciacaro commented on #231
Thanks for the tip, as commented above just `open FSharp.Control.Tasks` works for me.

[2018-02-14 13:12] dustinmoris commented on #228
Hi,

You can return other data by using some of the more basic `HttpHandler` functions, which do not set a HTTP `Content-Type` header like [`setBody`](https://github.com/giraffe-fsharp/Giraffe/blob/master/DOCUMENTATION.md#writing-bytes) or [`setBodyFromString`](https://github.com/giraffe-fsharp/Giraffe/blob/master/DOCUMENTATION.md#writing-bytes), which literally just write the specified content to

[2018-02-14 13:13] dustinmoris commented on #231
Agreed, have another issues for this already open! Will do in a bit as well!

[2018-02-14 14:06] dustinmoris commented on #227
I've added [File Uploads](https://github.com/giraffe-fsharp/Giraffe/blob/develop/DOCUMENTATION.md#file-uploads) to the docs now.

[2018-02-14 14:06] #227 closed

[2018-02-14 15:27] BrianVallelunga commented on #228
Thanks for the help. It seems a bit strange that returning text or json and returning just an OK or Accepted don't follow the same pattern (of just calling a function), but this will work.

[2018-02-14 15:35] BrianVallelunga commented on #228
The ctx.SetStatusCode method doesn't seem to exist, so maybe I'm missing something. There is a function setStatusCode though. I seem to be able to also do the following:

    let handleWebhookPost =
        fun (next : HttpFunc) (ctx : HttpContext) ->
            task {
               // Do Work Here
                ctx.Response.StatusCode <- StatusCodes.Status200OK
                return Some ctx

[2018-02-14 19:58] Potmos commented on #227
I gues it was removed from the SampleApp because it's not working with the same code.
I get expected Async<'a> but got type 'b -> HttpFuncResult error.

Trying to fix it now, thanks for pointing the right direction.

[2018-02-14 22:26] dustinmoris commented on #227
Yes the code in the older issue was obviously working with an older version of Giraffe. Some things have changed since then, but in the example of the file upload handler it was really just the usage of `task` vs `async` and adding the `next : HttpFunc` parameter to the function. Glad you got it working now!

[2018-02-14 22:30] dustinmoris commented on #228
Most features are mirrored between `HttpContext` extension methods and a `HttpHandler` function.

For example you can return a JSON response through `ctx.WriteJsonAsync` or the `json` http handler.

Just returning an OK does have a function as well, this is where I pointed you to the [status code handlers](https://github.com/giraffe-fsharp/Giraffe/blob/master/DOCUMENTATION.md#successful).

Also th

[2018-02-15 22:40] #230 closed

[2018-02-16 02:43] garuma opened #232 "Issue with plain Task and do!"
A cross-reference from https://github.com/rspeele/TaskBuilder.fs/issues/12

Giraffe by default exports the context insensitive version of TaskBuilder.fs which has the issue that using `do!` on a plain Task doesn't work:

[code]

To workaround the issue for now you have to convert your `Task` into a `Task<unit>` like so:

[code]

[2018-02-16 09:35] dustinmoris commented on #232
If you have do! bindings in your Giraffe web application then you must open the FSharp.Control.Tasks.ContextInsensitive namespace to resolve any type inference issues:

[code]

I have already [documented this in the docs](https://github.com/giraffe-fsharp/Giraffe/blob/develop/DOCUMENTATION.md#tasks), which will be merged to master probably today!

[2018-02-16 09:35] #232 closed

[2018-02-16 13:08] #223 closed

[2018-02-16 13:49] dustinmoris commented on #206
Hi, this should be fixed in today's 1.1.0 release. Please let me know if you encounter any more issues!

[2018-02-16 13:49] #206 closed

[2018-02-16 14:03] dustinmoris commented on #121
Hi,

I have implemented an improved model binding API based on the feedback provided here.

There is a new `TryBindQueryString<'T>` extension method, but also a new `tryBindQuery<'T>` http handler for a more functional way of binding a model from a query string. The new `tryBindQuery<'T>` http handler will only bind a model if all non-optional data was provided and in the correct format, otherwise

[2018-02-16 14:03] #121 closed

[2018-02-20 12:34] Rizary opened #233 "Using external Javascript or target external Index.html"
Is it possible to target just "index.html" or "WebRoot/app.js". I am sorry to ask basic question since I cant find it in the guide.

I came from haskell (snap) and it is very simple to do that.

I create this
[code]

But as I guess, it direct to localhost:5000/app.js instead.

note: I am using visual studio code, and dotnet cli. If I run it in visual studio 2017, it works fine

[2018-02-20 14:59] Rizary commented on #233
Sorry

[2018-02-20 14:59] #233 closed

[2018-02-21 04:21] Banashek commented on #126
I've been using `_name "PropertyName"` in my code, but I do see a possible elegant abstraction using quotations.

You could get the property names by doing something like:
[code]

Obviously that's just a quick fsi result, but you could go based off of that. Not sure how to do it with non-static types, but I'm sure there's a good way to do it if you keep digging.

[2018-02-21 18:47] vikranthc opened #234 "setStatusCode working inconsistently"
route "/" >=> text "hello" >=> setStatusCode 401
expected status code is 401
Actual status code  is 200

route "/" >=> setStatusCode 401 >=> text "hello"
This works as expected, we get a status code of 401

[2018-02-22 16:27] dustinmoris commented on #234
Hi @vikranthc,

This is indeed by design. In ASP.NET Core when a function writes to the response stream then the content is being sent to the client, at which point you can't change things like the http headers or the status code anymore.

I'll mention it in the documentation. [Response writing functions](https://github.com/giraffe-fsharp/Giraffe/blob/master/DOCUMENTATION.md#response-writing) shou

[2018-02-22 17:22] vikranthc commented on #234
thanks @dustinmoris  @rmotyka

[2018-02-22 17:22] #234 closed

[2018-02-26 14:59] Lanayx opened #235 "Reponse caching support"
Hi! Is there response caching in the roadmap?

https://docs.microsoft.com/en-us/aspnet/core/performance/caching/

Thanks

[2018-02-26 15:49] Lanayx opened #236 "Internationalization support"
Is internationalization support in the roadmap?

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization

Thanks

[2018-02-26 18:29] dustinmoris commented on #235
What were you thinking of? The [response caching middleware](https://docs.microsoft.com/en-us/aspnet/core/performance/caching/middleware) should work with Giraffe out of the box. It is a separate ASP.NET Core middleware which you can plug alongside Giraffe. You should add it to the ASP.NET Core pipeline before Giraffe, so that requests can be served from the caching middleware first and only if no

[2018-02-26 18:33] dustinmoris commented on #236
Hi, I wouldn't know what there is to be done from Giraffe at this point. You can create resource files in F# already and you can access them from you Giraffe web application. You can also register an `IStringLocalizer<'T>` service via DI in ASP.NET Core and retrieve it from Giraffe http handlers via `ctx.GetService<IStringLocalizer<'T>>()`. Were you thinking of something else?

[2018-02-26 19:10] Lanayx commented on #235
I'm looking for the same functionality that I get in MVC by setting attribute on action. For functional approach it probably should be an element in a chain like
route >=> auth >=> cache >=> handler

[2018-02-26 19:30] Lanayx commented on #236
Just wanted to understand your vision =) Using `IStringLocalizer<'T>` is not quite a convenient choice, since we don't have controllers like c# version to place into type parameter. Therefore some helper might be helpful just to write `localize "abc"`
Also, MVC supports View localization and DataAnnotations, which however I'm not sure if should be ported to jiraffe.

[2018-02-27 21:19] Nhowka commented on #224
After adding `Microsoft.AspNetCore.Authorization` to the project, I could add the authorization services using the code from [this article](https://vtquan.github.io/fsharp/setting-up-services-with-giraffe/). Then I created the method requiresPolicy as the following:

[code]

I tried to change the tests to use it, but I figured after a long time that it was not using the real deal and the errors we

[2018-03-01 23:09] ebi-igweze opened #238 "Route format with System.Guid placeholders don't work"
When using the route formatter i.e. "**routef** somePath" with guid placeholders i.e. **%O**, if you have multiple placeholders only the first placeholder gets transformed by the route formatter, and on another occasion, it formats the first one as a duplicate.
[code]

**Case 1:** if you tried a GET request using "api/families/4ec87f064d1e41b49342ab1aead1f99d/children/2a6c918595d94d8c80a6575f99c2a

[2018-03-02 05:08] hxdhttk commented on #238
I think change the regex for Guid would fix this.
[code]
The regex should be fixed as `"([0-9A-Fa-f]{8}\-[0-9A-Fa-f]{4}\-[0-9A-Fa-f]{4}\-[0-9A-Fa-f]{4}\-[0-9A-Fa-f]{12}|[0-9A-Fa-f]{32})"` to avoid capturing more groups that are not represented by the route path.
[link to the code](https://github.com/giraffe-fsharp/Giraffe/blob/4b5852e80e49c11e11bb66a4065afd79b6ad778b/src/Giraffe/FormatExpressions.

[2018-03-04 19:57] ebi-igweze commented on #238
Currently, the workaround I had to do was represent the Guid using string placeHolders and converting the string representation to Guid within the HttpHandlers. i.e.
[code]

[2018-03-06 08:25] dustinmoris commented on #238
Should be fixed by @hxdhttk PR and I released it with 1.2.0-preview-1 for now.

[2018-03-06 08:25] #238 closed

[2018-03-06 20:39] BrianVallelunga opened #240 "How to register singleton service that requires access to IConfiguration?"
I'm using the 1.1 version of Giraffe and building off of the standard template project. My code looks like:

    let configureServices (services : IServiceCollection) =
        services.AddCors()    |> ignore
        services.AddGiraffe() |> ignore

    let configureAppConfiguration (context: WebHostBuilderContext) (config: IConfigurationBuilder) =
        config
            .AddJsonFile("appsetti

[2018-03-07 03:12] dustinmoris commented on #240
ASP.NET Core let's you build a service provider during service registration as this is a common use case for many applications:

[code]

[2018-03-07 15:41] BrianVallelunga commented on #240
Thanks. That should work.

[2018-03-07 16:35] #240 closed

[2018-03-08 20:30] ebi-igweze opened #242 "Jwt Authentication issues token but return 401"
I have a set up for authentication and when I try to get a token, I get issued a token. but when I try to access a secured resource it returns 401 Bearer error="invalid_token", error_description="The audience is invalid"
Here is my setup:

[code]

And here is the function that generates tokens

[code]

Is there something I am missing.

[2018-03-08 20:55] ebi-igweze commented on #242
Alright, I am not too sure if this assumption is right but, I think 'ValidateAudience' is defaulted to 'true' and I wasn't providing any 'audience' value in my token, either of these things fixed the issue; either setting the 'ValidateAudience' to false or providing an 'audience' value that matches the 'ValidAudience' set in JwtBearerOptions.

that is:
[code]

Or You leave the Validate Audience as

[2018-03-08 20:55] #242 closed

[2018-03-09 10:47] cmeeren opened #243 "Parse query string comma-separated values as list"
I'd like to deserialize the query string `?flags=favorite,hidden` to the type `Query` as defined below:

[code]

Is this possible using Giraffe? I've only managed to use lists in query strings by repeating the parameter:  `?flags=favorite&flags=hidden`.

(Please disregard the actual DU related stuff; I've fixed that by using FSharpLu.Json.)

[2018-03-09 10:51] cmeeren opened #244 "Complex objects in query strings?"
I'd like to parse the query string `?page[size]=20&page[number]=2` to the type `Query` below:

[code]

Is this possible with Giraffe? If not, are there other ways of binding complex objects in query strings? I'd rather not have to write my own query string parser.

Please also let me know if there are better ways of solving the problem (I know I can flatten the query string, but let's keep that fo

[2018-03-09 22:41] BrianVallelunga commented on #235
I'm interested in learning how to compose this as well. The middleware instructions show how to do it in C#, but I'm not sure what the appropriate F# is with `app.Use`

    // Add response caching
    let cacheControl = new CacheControlHeaderValue()
    cacheControl.Public <- true
    cacheControl.MaxAge <- new Nullable<TimeSpan>(TimeSpan.FromSeconds(60.))

    // Not sure about this since it the

[2018-03-10 09:18] ebi-igweze commented on #235
For composing middleware you essentially just follow the same guidelines from C#, i.e. you create your custom middleware class and then add an extension method, that adds the middleware to the pipeline.
so for you, try this:

[code]

[2018-03-12 02:59] dustinmoris commented on #243
Hi @cmeeren, the way list items are passed through a query string is by specifying the parameter multiple times like in your second example. See https://github.com/giraffe-fsharp/Giraffe/issues/121#issuecomment-364953107

In this case ASP.NET Core has already decomposed the query string into a list and Giraffe is simply serializing the string values into the correct type.

You client application b

[2018-03-12 03:10] #243 closed

[2018-03-12 03:20] dustinmoris commented on #244
This is currently not possible with Giraffe. I don't think there is a standard way of doing this, because query strings are not great for complex or multidimensional data. Of course you could always serialize your data in some other format first and then pass a serialized string in the query string, but using the standard query syntax itself to serialize complex multi dimensional data will be very

[2018-03-12 08:00] cmeeren commented on #244
AFAIK the HTTP spec doesn't define a request body as valid for GET requests.

In any case, I don't really need it, but our front-end developer suggested using the syntax I posted, and I just wondered if Giraffe supported this in some way. It seems the best way forward is to stick to a "flat list" of query parameters (e.g. `?pagesize=20&pagenumber=2`).

[2018-03-12 08:01] #244 closed

[2018-03-12 08:03] cmeeren commented on #243
Thanks for the tip. I too was under the impression that specifying the parameter multiple times was the correct way, but our front-end developer suggested using comma-separated values, so I just wanted to check if this was something Giraffe supported. It seems we should indeed stick to the standard way of doing things.

[2018-03-12 13:02] cmeeren commented on #243
On the other hand, the [JSON API spec](http://jsonapi.org/format/#fetching-includes) specifies that comma-separated values is mandatory behavior (link to first mention). Do you think it would be possible and desirable for Giraffe to add support for this?

[2018-03-12 13:04] cmeeren commented on #244
On the other hand, the [JSON API spec](http://jsonapi.org/format/#fetching-pagination) specifies that this syntax is recommended for e.g. pagination. Do you think it would be possible and desirable for Giraffe to add support for this?

[2018-03-12 20:57] BrianVallelunga commented on #235
Thanks @ebi-igweze. That worked for me.

It does seem like a Giraffe-specific version of the attribute would be useful to aid in composition. I may investigate how that might be made, but I'm pretty new to Giraffe.

[2018-03-13 17:13] xperiandri opened #245 "How would I plug OpenIddict into Giraffe?"
Or maybe it is required another Giraffe optimized middleware on top of [OpenIdConnectServer](https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server)?

[OpenIddict](https://github.com/openiddict/openiddict-core/)

[2018-03-15 13:35] BrianVallelunga commented on #228
I was using an older version. Thanks for the help getting this working.

[2018-03-15 13:35] #228 closed

[2018-03-19 21:21] cmeeren opened #246 "routefx?"
I am routing using `routef "/orders/%s" (fun orderNumber -> ...)`, but I would like to also match routes with a trailing slash, which seems to be the domain of `routex`. However, I can't find a handler that combines `routef` and `routex`. Is there one? Is there another way to accomplish this?

[2018-03-20 11:04] dustinmoris commented on #246
Hi, you are right there is currently no `routefx`. I think it should be possible to implement one and I'd accept a PR for it if you want to work on it.

[2018-03-20 11:32] cmeeren commented on #246
Thanks. Totally swamped for the time being, so I'll have to leave it for someone else.

[2018-03-21 20:00] rmotyka commented on #236
If someone is interested, I've made some simple i18n solution, which is described [here](http://www.multidata.pl/FSharp-GiraffeI18n/). I made a kind of global helper function as @Lanayx  mentioned. The code is [here](https://github.com/rmotyka/Giraffei18n).

[2018-03-26 08:55] nagpal opened #247 "Inline SVG"
Hi,

Is there any support in the giraffe View Engine for cases where we have inline svgs?

-Vijay

[2018-03-27 15:14] halcwb opened #248 "Just following the readme instructions doesn't get me a working Giraffe app"
When I just follow the readme instructions by:

- Creating a new console application
- Adding and installing Giraffe using Paket
- Creating the basic Program

I get an error WebHostBuilder not defined.

When I add the following (I don't need all I think) resolves the issue

Microsoft.AspNetCore.Cors
Microsoft.AspNetCore.Hosting
Microsoft.AspNetCore.Diagnostics
Microsoft.AspNetCore.Server.Kestrel
M

[2018-03-27 23:06] xperiandri commented on #245
@distinmoris, @Krzysztof-Cieslak
Do you have any consideration about the topic?

[2018-03-27 23:07] xperiandri commented on #245
OpenID Connect authentication in particular

[2018-03-28 02:44] dustinmoris commented on #247
Yes, have a look at https://github.com/dustinmoris/CI-BuildStats, particularly have a look at https://github.com/dustinmoris/CI-BuildStats/blob/master/src/BuildStats/Views.fs#L20 and https://github.com/dustinmoris/CI-BuildStats/blob/master/src/BuildStats/Program.fs#L28 where I use the Giraffe view engine to render SVG images. You can just output that SVG tag inside a HTML page as well.

[2018-03-28 02:46] dustinmoris commented on #248
Hi @halcwb,

Can you point me to the place in the README where you think I've missed adding some information?

Or feel free to send me a PR with the proposed changes to the README!

Thanks for the help, much appreciated!

[2018-03-28 10:43] nagpal commented on #247
Thanks a lot!

[2018-03-28 10:43] #247 closed

[2018-04-06 09:46] kaspermoerch commented on #248
I have experienced the same issue - WebHostBuilder can not be resolved, when following the "

I added Giraffe to my project with:
`dotnet add [PROJECT] package Giraffe --package-directory [PACKAGE_CIRECTORY]`

The code does not compile.

After adding the package Microsoft.AspNetCore the code compiles:
`dotnet add [PROJECT] package Microsoft.AspNetCore --package-directory [PACKAGE_CIRECTORY]`

[2018-04-07 21:01] Micha-kun opened #250 "Unexpected behaviour when calling async comp. expr. inside task comp. expr."
When mixing those comp. expr. and the async call is converted as task to be used with the task comp. expr. on the route execution function, the HttpContext parameter, unexpectedly, gets ServiceProvider property member marked as null, making json serialization breaks. Example:

[code]

Any help?

Thank you

[2018-04-08 13:39] dam5s opened #251 "Following the instructions of `using dotnet new` does not work."
I'm following the instructions at: https://github.com/giraffe-fsharp/Giraffe#using-dotnet-new
I'm on Linux/Debian:

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

I was expecting that command `dotnet new giraffe` to generate an application skeleton, but it does not, it only outputs the help.

Let me know if I can provide more info to help debugging the issue, or if there is something I m

[2018-04-08 14:35] dam5s commented on #251
Found documentation on giraffe-template README about the required language flag...

[2018-04-08 14:35] #251 closed

[2018-04-08 21:00] matthewblott opened #253 "After login IsAuthenticated always returns false"
I'm having issues with ```requiresAuthentication```. I cannot 'authenticate' a request even though I can log in and out and have roles based authorisation working. The ```IsAuthenticated``` property of ```Identity``` always returns false and when I looked at the Giraffe code I noticed this is what is being called with ```requiresAuthentication```.

My ```loginHandler``` method is below. It's prett

[2018-04-08 21:06] JonCanning commented on #253
I think you need so specify a scheme when calling `SignInAsync`

[2018-04-08 21:31] matthewblott commented on #253
The scheme is specified (see the ```princpalWithProperties ``` function).

[2018-04-08 21:41] JonCanning commented on #253
Ah yes. I'm using this stuff myself without issue. I have a scheme defined which I use like this:

[code]

[2018-04-08 21:53] matthewblott commented on #253
My code isn't so different.

[code]

My ```AddCookie``` method doesn't pass in the scheme as an argument but it's set in the line above (I also just tried ```AddCookie(scheme)```) and it made no difference.

[2018-04-09 09:46] JonCanning commented on #253
This works on my machine!

[code]

[2018-04-09 21:30] matthewblott commented on #253
Okay I've got this working now. My code isn't so different from before but you were on the right track - although the scheme was set with ```SignInAsync``` it appears it also has to be set when you create ```ClaimsIdentity``` too (in fact it has to be set in a few places, it's quite easy to miss one of them). FWIW my changed method looks like the following.

[code]

Thanks, you can close this one

[2018-04-10 07:06] #253 closed

[2018-04-10 09:15] rmotyka opened #254 "URLDecoding + sign is missing"
When I do manually:
[code]

it gives me:  Work Instruction Manual D-touch Rev. 1 Eng+PL.pdf

but using:

`routeCif "/download/%s"  (fun x -> handleDownloadDocument x)
`
x is: Work Instruction Manual D-touch Rev. 1 Eng PL.pdf (space instead of +)

I've downloaded master version of Giraffe and made a test:

[code]
but it works fine.

Is it possible if the UrlDecode is done several times over the str

[2018-04-11 21:37] TheDevKnight opened #255 "GiraffeViewEngine - button onclick event is missing"
Hi,

is the onclick event on the button really not available?

button [ _onclick ??? ] [ ]

As a workaround i could add the event in my javascript. Is this the correct way?

Thanks for help.

Regards

[2018-04-12 02:46] dustinmoris commented on #255
Hi, if the _onclick event is missing then you can [create it yoursef](https://github.com/giraffe-fsharp/Giraffe/blob/master/DOCUMENTATION.md#custom-elements-and-attributes) or submit a PR!

[2018-04-12 03:13] dustinmoris commented on #248
Ok I see.. you followed the manual steps. I will update the open statements in the example there. Thanks for letting me know!

[2018-04-12 03:48] dustinmoris commented on #254
Hmm interesting...

I think it would be better to write a test which runs through the entire pipeline (like [this](https://github.com/giraffe-fsharp/Giraffe/blob/master/samples/SampleApp/SampleApp.Tests/Tests.fs)).

Could you perhaps provide a test like this which shows the error and I'll have a look what needs to be done to fix it! Thanks for reporting.

[2018-04-12 04:01] TheDevKnight commented on #255
@dustinmoris Thank you! Works perfect and very easy :)

[2018-04-13 10:20] samueleresca opened #258 "HttpContext into Model validation"
Referring [Model Validation](https://github.com/giraffe-fsharp/Giraffe/blob/master/DOCUMENTATION.md#model-validation)  Is it possibile to use HttpContext into Model validation?
[code]
In order to use some services into validation process

[2018-04-13 13:04] #258 closed

[2018-04-14 20:24] matthewblott opened #259 "Html form automatically submits"
The first time the application runs the login form (which exists in a partial view) is submitted. I was a bit confused as I kept seeing the url change to 'login-failed' but noticed the ```loginHandler``` function was being called. As soon as I removed the form element the handler wasn't called. This only happens when the application starts and subsequent requests work as expected. The HTML is pret

[2018-04-14 20:32] matthewblott commented on #259
Oops, seems it is a chrome issue. Closing (sorry).

[2018-04-14 20:32] #259 closed

[2018-04-17 02:07] sashang opened #260 "build.sh is non-executable and has windows eol on linux."
When using linux and installing the template build.sh is installed non-executable and has Windows CRLF newline symbols. Recommend changing this so that it is installed with executable bit set and with Unix newlines.

[2018-04-17 12:30] dustinmoris commented on #260
Ok thanks, will look into it. I don't have a Unix environment currently at hand so would appreciate some help with it if it is urgent. I normally develop from macOS (not right now though) and the build.sh worked fine there, which is why I probably haven't noticed this yet.

[2018-04-17 13:53] TheAngryByrd commented on #260
The giraffe template? Yeah looks like we need to add https://github.com/TheAngryByrd/MiniScaffold/blob/master/Content/.template.config/template.json#L19-L28 to it.

[2018-04-17 13:54] sashang commented on #260
I can look into this . I don't have a Mac so I can't corroborate this. Odd that it worked on the Mac.

[2018-04-17 15:29] TheAngryByrd commented on #260
It's a problem with dotnet's templating engine unfortunately.  We should probably move this to the giraffe-template repo.

[2018-04-18 00:49] Disco-Dave opened #261 "Where Configuration coming from in the SampleApp?"
In the sample https://github.com/giraffe-fsharp/Giraffe/blob/master/samples/SampleApp/SampleApp/Program.fs

[code]

Where is "HelloMessage" supposed to be coming from?

I'm trying to figure out how to read values from appsettings.json and appsettings.Development.json and I came across this example which had intention of reading from some type of configuration file I think? However there is no conf

[2018-05-04 12:08] wiredsister opened #263 "Microsoft Active Directory & Giraffe"
Hi Giraffe amigos,

In your examples directory, I've gotten far with the JWT tokens example (which partially meets my needs), but I'm looking for a more comprehensive example of checking claims in Azure Graph API. I see in `Properties/launchSettings.json` there is this configuration:
[code]
I presume it's more complicated than flipping a boolean flag. Is there a need for someone to contribute back

[2018-05-07 16:04] wiredsister opened #264 "BUG: HTTP Error 502.5 - Process Failure w/ Giraffe Template: `dotnet publish` & `dotnet run`"
Steps to reproduce:
1.  Install template with: `dotnet new giraffe -lang F#`
2. Build and publish with `dotnet publish` (also tried: `dotnet publish -c Release -r win10-x64`)
3. Do `dotnet run`
4. When you open your browser to the hosted port (by default: `localhost:1221` you either see nothing or you see the exn below-- I had to click `View` in VS2017 to see this at all.)

[code]

I have enabled

[2018-05-07 16:35] cartermp commented on #264
@wiredsister I don't have an answer, but what happens if you do `dotnet path-to-dll`, where `path-to-dll` is the path to the win10 binary in the publish output?

[2018-05-07 16:41] kunjee17 commented on #264
@wiredsister  I don't get why you need to publish before running... Either you do `dotnet run` or `dotnet publish` & `dotnet <name of dll>` to run that thing.

What I'd you directly run it without publishing it.

[2018-05-07 17:15] wiredsister commented on #264
Thanks for your response @cartermp.

UPDATE: *I'm an idiot*

## Fix:
- When building in VS2017 you cannot use IISExpress (this was pointed out by other users in #web on Fsharp Foundation Slack, but I wasn't really sure what I needed to do). For example:

<img width="895" alt="screen shot 2018-05-07 at 1 10 15 pm" src="https://user-images.githubusercontent.com/3818802/39714515-5535b446-51f8-11e8-9b

[2018-05-07 17:15] #264 closed

[2018-05-07 17:46] wiredsister commented on #264
And I'm [updating](https://github.com/giraffe-fsharp/giraffe-template/pull/16) the README for giraffe-template. Anybody know why this project doesn't work with IIS Express? Just out of curiosity...

[2018-05-07 17:54] wiredsister commented on #264
And maybe I should update this README as well? You have a section for building in Visual Studio 2017, so it'd be appropriate to add there. I'll PR it and reference this...

[2018-05-09 11:54] lukethenuke commented on #263
I'm not sure exactly what you are asking, but should use `AddOpenIdConnect` instead of the JWT bearer since Azure AD is an OpenId Connect compatible IDP.
Then you could either configure AAD to [return your custom claims](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims) or hook into the `OnUserInformationReceived` event simply do an Graph API request

[2018-05-09 12:25] lukethenuke commented on #261
If no configuration provider (like AddJsonFile/AddXmlFile) service is specifed (like in the sample app). Asp.Net will automatically setup a couple of default providers like MemoryConfigurationProvider, EnvironmentVariablesProvider, and JsonProvider.

So you can simply drop in a `appsettings.json` file and it will be picked up.
Or you can add an environment variable and it will be picked up.
Or you

[2018-05-09 20:39] WalternativE commented on #263
I think the abbreviation stands for identity provider if I'm not totally mistaken.

To examples - currently doing some research for work and regarding integration to everything based on ASP.NET core [this](https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect-aspnetcore) example as well as [this](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/azure-ad-

[2018-05-12 22:41] lukethenuke commented on #263
I don't think there is anything Giraffe specific problem when using AAD. If you set up the `AddOpenIdConnect` middleware correctly you can get the ClaimPrincipal from the HttpContext.User property which should contain the data from AAD. How you want to enforce it on each Giraffe endpoint is up to you, but you could do something similar to the `mustBeAdmin` and `mustBeJohn` functions in the sample

[2018-05-14 00:46] scorelocity opened #266 "Combine routef with model binding HttpHandler"
Is it possible to combine the handling of a route with parameters using routef with a model binding HttpHandler function so that the route parameter and bound model get passed to the same function? Something like:

[code]

[2018-05-14 16:09] NinoFloris opened #267 "TryAdd instead of Add (services in AddGiraffe)"
As is idiomatic for libraries to use TryAdd (allows overrides to also happen before calling AddGiraffe) I hoped it would work for Giraffe as well however the pattern is not followed here https://github.com/giraffe-fsharp/Giraffe/blob/master/src/Giraffe/Middleware.fs#L113

I could PR this, it's could also be a small up for grabs/enhancement thing, I can go either way just let me know!

[2018-05-15 03:36] brnls opened #268 "Build fails - requires reference to netstandard 2.0"
When building it is unable to resolve a reference to netstandard 2.0 with errors such as
[code]

I see there is a section in the fsproj file that conditionally includes a reference to netstandard, but only for a non windows environment and only when targeting 461. Removing those conditional checks makes the build succeed.

Creating a new f# class library targeting dotnet standard does not include

[2018-05-15 08:42] whitebear-gh opened #269 "Handling Option<'a> types in Json binding"
Hello,

I'm not sure if this is something you might be interested in but according to [this blog post](https://dusted.codes/giraffe-110-more-routing-handlers-better-model-binding-and-brand-new-model-validation-api) it's is something you have in roadmap.

In my project (we still use Giraffe in beta) we wanted to have support for functional types for Models including requiring non-optional to be exi

[2018-05-15 16:30] NatElkins opened #270 ""Doing it manually" section of Readme could use additional information"
When trying the "Doing it manually" example, it took a little while to figure out which packages needed to be referenced in order for the example to work.  In addition to Giraffe, the Microsoft.AspNetCore.Hosting and Microsoft.AspNetCore.Server.Kestrel packages need to be referenced.  Would an update to the Readme be a welcome PR?

[2018-05-16 06:43] seankearon opened #271 "Can't get the warbler to work"
So that my function will be evaluated each time it's called, I'm trying to use the `warbler` from the [docs](https://github.com/giraffe-fsharp/Giraffe/blob/master/DOCUMENTATION.md#warbler).

However, when I call `/warbler` I get the same result each time.  This is how I set it up:

`dotnet new -i "giraffe-template::*"` (Installs 0.17.0)
`dotnet new giraffe -lang=f#`

Here's the code:

[code]
Then

[2018-05-16 10:27] darting opened #272 "Support integrity for script element for html view"
The detail please refer to https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity

thanks

[2018-05-17 16:37] bsloanincomm commented on #271
That warbler function as defined in the documentation definitely does achieve the desired result. You can just use the warbler function that is defined globally by Giraffe and that should work (just delete your definition of warbler). The documentation could use an update to remove that ```let warbler f a = f a a``` definition.

[2018-05-18 09:00] seankearon commented on #271
Thanks @bsloanincomm - that works perfectly!

[2018-05-18 09:00] #271 closed

[2018-05-25 07:17] toburger commented on #235
This giraffe handler should work:

[code]

Usage:

[code]

Do not forget to register the response caching middleware with `app.UseResponseCaching()` and `services.AddResponseCaching()`

[2018-05-30 19:08] ElijahReva commented on #79
Hi, could anyone review PR #218, please? This nasty feature ready, I hope, to satisfy all its possible consumers!

Ci is failed due to 'dotnet-xunit' not found, perhaps you forget to add [NuGet package](https://www.nuget.org/packages/dotnet-xunit/) .

[2018-06-03 03:41] wterreb opened #274 "Getting Error NU1108 Cycle detected"
Just trying out Giraffe HelloWorld  example, but get an error that reads:
[code]
(using dotnet core version 2.1.300)

Same thing also happens when I try to run build.bat:
[code]

Tried renaming the folder etc, but could not get past this problem yet.

[2018-06-04 02:55] baronfel commented on #269
Similarly to this I've got a set of converters that do things pretty seamlessly, including some that work for DU cases where the properties are all out of order: https://github.com/baronfel/Newtonsoft.Json.FSharp.Idiomatic

[2018-06-05 20:42] nozzlegear commented on #274
I'm also getting this when using the `dotnet new giraffe` template and then running `build.bat`.

[2018-06-05 20:49] nozzlegear commented on #274
My project was named "giraffe". I renamed it to something else and tried again, this time it worked! It looks like dotnet restore is getting confused by both the project and the package being named Giraffe.

[2018-06-06 03:21] forki commented on #274
Yes that's a known dotnet cli issue.

Joshua Harms <notifications@github.com> schrieb am Di., 5. Juni 2018, 22:49:

[2018-06-06 13:56] cmeeren opened #275 "ctx.NotModifiedResponse and extra mandatory headers"
According to https://httpstatuses.com/304:

When using `ctx.NotModifiedResponse()` as recommended in the documentation, no `Cache-Control` header is inserted (naturally, since the function has no way to know which value to use here). How can I use both `ctx.NotModifiedResponse()` and manually specify additional headers? Alternatively, what would I need to do in order to return a valid "Not Modifie

[2018-06-06 14:19] Nhowka commented on #275
From [here](https://github.com/giraffe-fsharp/Giraffe/blob/99a258bd3fbe26f46fe64ae16e64e0b13a11cf3d/src/Giraffe/Preconditional.fs#L138-L140)

[code]

The helper pretty much just sets the status code.

[2018-06-06 16:59] cmeeren commented on #275
That can't be the whole story. My testing when checking using an ETag shows it also sets the ETag for the 304 response. I suppose it will also set `Last-Modified` if that's included in the check, but I haven't tested that.

[2018-06-06 17:23] Nhowka commented on #275
This is the `SetStatusCode` [part](https://github.com/giraffe-fsharp/Giraffe/blob/99a258bd3fbe26f46fe64ae16e64e0b13a11cf3d/src/Giraffe/Core.fs#L72-L79)

[code]

Looks like it should do much.

[2018-06-06 17:34] cmeeren commented on #275
Then where is it the ETag is being set in the response?

[2018-06-06 17:42] Nhowka commented on #275
Couldn't pin, but found some results looking for `EntityTagHeaderValue`. This looks like a good candidate:
https://github.com/giraffe-fsharp/Giraffe/blob/99a258bd3fbe26f46fe64ae16e64e0b13a11cf3d/src/Giraffe/Streaming.fs#L156-L187

[2018-06-09 16:13] cmeeren commented on #275
That function calls `NotModifiedResponse`, which is what I'm doing myself, so I don't think it's relevant in this context.

[2018-06-14 07:06] seankearon opened #276 "Access configuration when configuring services"
How would you access configuration from inside the `configureServices` method in Giraffe?

[code]

Note that this has also been asked on [SO here](https://stackoverflow.com/q/50810966/2608) (and behold the mighty [F#-Giraffe tag](https://stackoverflow.com/tags/f%23-giraffe/)!).

[2018-06-16 16:56] seankearon commented on #276
Thanks to [SO](https://stackoverflow.com/a/50886490/2608), the answer is:

[code]

[2018-06-16 16:56] #276 closed

[2018-06-20 17:27] rishavs opened #277 "Adding Giraffe to Tech empower benchmark suite"
Currently there are no fsharp frameworks in the TE benchmarks while multiple c# frameworks are in contention. With the use of Kestrel, Giraffe may prove to be a strong competitor. It will also bring in greater recognition and increase the project's visibility.

https://www.techempower.com/benchmarks/#section=data-r16&hw=ph&test=fortune

[2018-06-20 17:30] rishavs commented on #277
https://github.com/TechEmpower/FrameworkBenchmarks/pull/3859

Its already underway. This issue is not needed.

[2018-06-20 17:35] forki commented on #277
Please reopen. We should discuss how to improve it

Rishav Sharan <notifications@github.com> schrieb am Mi., 20. Juni 2018,
19:30:

[2018-06-20 20:35] mamcx opened #278 "The browser is openend despite is not runing the server?"
I have a test suite that exercise several aspects of the API.  However, the browser is always opened automatically and I haven't put the server to listen. I only import giraffe as part of the dependencies.

Neither I see where to look to know what is requesting this.

[2018-06-25 13:51] NinoFloris opened #279 "BindModelAsync should support binding body for PATCH"
This... cost me 30 min to find out why I didn't bind anything

[2018-06-27 12:40] inosik opened #280 "Generate XML docs on build and add them to the NuGet package"
The NuGet-package (1.1.0 and 1.2.0 preview) doesn't contain the XML documentation. And the project doesn't have the appropriate property for generating it:

[code]

[2018-06-28 14:43] dv00d00 opened #281 "Html view rendering performance"
I've added a stripped implementation of html view rendering to the techempower tests repo. It finished test run today. These are results https://www.techempower.com/benchmarks/#section=test&runid=3da523ee-fff1-45d8-9044-7feb532bf9ee&hw=ph&test=fortune&w=zik0zj-hr4e7z&a=2

| name | rps |
|-------------------|---------|
|  giraffe-stripped | 174,979 |
|  giraffe          | 41,136  |

While testing s

[2018-06-28 14:51] gerardtoconnor commented on #281
Great work @dv00d00 !! I think your solution it great, in line with my [ByteViewEngine ](https://github.com/gerardtoconnor/ViewEngineTests/blob/master/ByteViewsAsync.fs) & already very high up there in the rankings.

I'm looking into how we can juice more performance out of the framework, once that is done I can look into the templating a bit more but I think you're 90% there.

[2018-07-01 18:11] #268 closed

[2018-07-05 04:09] rmunn opened #282 "Suggestion: route format character for ShortGuids"
[ShortGuids](https://madskristensen.net/blog/A-shorter-and-URL-friendly-GUID) are basically GUIDs run through a base64url encoding step (i.e., base64 with `-` and `_` replacing `+` and `/`) and with the final `=` padding characters trimmed because the length is fixed: a ShortGuid will always encode to 22 characters (which will 22 bytes in UTF-8 since they're all from the ASCII range). Youtube uses

[2018-07-06 05:02] rmunn commented on #282
After thinking it over, the alternative mentioned in my P.S. is the one I'd recommend: extend the formats accepted by `%O` to include the 22-character base64url representation of a Guid, and parse that to a System.Guid value rather than to a ShortGuid value. One of the benefits of this approach is that in code like [Saturn's `Controller.fs`](https://github.com/SaturnFramework/Saturn/blob/master/sr

[2018-07-08 18:34] nicohvi opened #283 "Unexpected end of file for build.sh (OS X)"
Hi there.

I think there might be something wrong with the giraffe template. Using `dotnet new giraffe --UsePaket` creates the following `build.sh` file:

[code]

Which produces the following error when I try to run it:
[code]

I'm very new to the dotnet eco-system on OS X, so there might be something I've overlooked :-)

[code]

[2018-07-09 03:14] rmunn commented on #283
CRLF line endings strike again! Load `build.sh` into a decent text editor and change its line endings to be LF instead of CRLF, and it should work. (I could reproduce the "syntax error: unexpected end of file" behavior on Linux, and changing the line endings from CRLF to LF took care of the problem).

[2018-07-09 03:15] rmunn commented on #283
This has already been reported as https://github.com/giraffe-fsharp/giraffe-template/issues/17, BTW.

[2018-07-09 05:51] nicohvi commented on #283
Thanks @rmunn - that did the trick (used [dos2unix](http://dos2unix.sourceforge.net/) for the conversion).

[2018-07-09 05:51] #283 closed

[2018-07-09 19:21] NinoFloris commented on #279
Closed #279 through #284

[2018-07-09 19:21] #279 closed

[2018-07-10 02:38] BrianVallelunga commented on #235
Thanks!

[2018-07-19 22:01] danieljsummers commented on #250
I've run into issues mixing `Task` and `Async` (particularly around the injected per-request `DbContext`, which seems similar to the issue here). After the first time, I got an error saying that the context had been disposed.

I went back to full `Async` for that case, so I can't say how I fixed it. I've seen the issue, though. It may be related to `TaskBuilder` rather than Giraffe.

[2018-07-19 22:05] danieljsummers opened #286 "Adding 204 (No Content) response"
I currently have a web app (not Giraffe) where I return a 204 for a HEAD request. (It's called by JavaScript, and just registers a count.) From looking at the [1xx and 2xx responses](https://github.com/giraffe-fsharp/Giraffe/blob/4b5852e80e49c11e11bb66a4065afd79b6ad778b/src/Giraffe/HttpStatusCodeHandlers.fs), would this be as simple as `setStatusCode 204 >=> setBody [||]`? If so, I'll gen up a PR

[2018-07-26 22:12] chyczewski-maciej opened #287 "HttpContext.BindModelAsync doesn't work for HTTP DELETE method."
According to Mozilla HTTP DELETE method may contain body.
https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/DELETE

According to HTTP ** Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content** document:

   sending a payload body on a DELETE request might cause some existing
   implementations to reject the request.
https://tools.ietf.org/html/rfc7231#page-30

[2018-07-26 22:12] chyczewski-maciej commented on #287
If nobody will disagree I will create a PR to support it

[2018-07-27 16:56] TheAngryByrd commented on #287
Fixed in #288

[2018-07-27 16:56] #287 closed

[2018-07-28 21:19] nikoudel opened #289 "Authorize with a specific scheme"
Hi,

I'm trying to setup scenario described [here](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/limitingidentitybyscheme?view=aspnetcore-2.1&tabs=aspnetcore2x), namely use cookie-based authentication to log in and JWT bearer authentication for JavaScript requests.

The problem is neither the Authorize attribute nor the service-configured controller policies are available any

[2018-07-29 03:30] danieljsummers commented on #289
#224 may be of some interest to you.

[2018-07-30 19:38] danieljsummers opened #290 "Add accessibility (role/aria-*) to view engine"
This is the required pre-PR clearance of a feature I'd like to add. If you think it's too heavy for Giraffe proper, I'll spin it out as a separate package; just let me know.

The W3C [WIA-ARIA specification](https://www.w3.org/TR/wai-aria-1.1/) lays out [attributes (summarized in the HTML spec)](http://w3c.github.io/html/infrastructure.html#element-attrdef-aria-role) that can be applied to various

[2018-08-06 09:53] Lanayx opened #292 "Update to TaskBuilder 2.0"
I've tried to use latest task builder, but got many exceptions like
[code]
or
[code]
so currently I have to stick to TaskBuilder 1.2.0-rc version

[2018-08-10 23:00] mamcx opened #293 "How use routeCif with warbler?"
I don't see how have a dynamic route + warbler. All the examples assume one way or the other. I have:

[code]
But need to change to:
[code]
Because I need to access the JWT auth info.

[2018-08-11 13:12] danieljsummers commented on #293
_(if you want to know how, let me know, and I'll include a longer explanation)_

[2018-08-11 13:52] danieljsummers commented on #289
I've now done a piece of this (the JWTs) in another app. It looks like you [set up authentication as part of the services configuration](https://github.com/bit-badger/myPrayerJournal/blob/2bf3bc4865818de3f335cbb699ce254ca2c68c1f/src/api/MyPrayerJournal.Api/Program.fs#L38), then ["use" it in the application configuration](https://github.com/bit-badger/myPrayerJournal/blob/2bf3bc4865818de3f335cbb699

[2018-08-15 13:27] dustinmoris commented on #290
Hi,

First of all thanks for the great explanation and the code examples and the ambition to add this functionality into Giraffe! I really like it!

I like your suggestion of having these new attributes under a new module, but I would probably nest it under the current `Giraffe.GiraffeViewEngine` module, so that the full namespace ends up being `Giraffe.GiraffeViewEngine.Accessibility` (or similar

[2018-08-15 14:00] graforlock opened #295 "SignalR AddSignalR() throwing exception"
- .NET Core version 2.1.302
- SignalR version 1.0.2
- Latest version of Giraffe template

I am basically trying to replicate this tutorial https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr?view=aspnetcore-2.1&tabs=visual-studio-code.

In `Program.fs` I have:

[code]

[code]

And in `Services/ChatHub.fs`:

[code]

Upon the attempt of running the app, the exception I am getting is:

[co

[2018-08-15 15:28] dustinmoris commented on #261
What @lukethenuke said is correct. There's also a nice [blog post](https://www.devprotocol.com/use-appsettings-in-a-giraffe-web-app/) which explains you step by step how to use an appsettings.json file in Giraffe.

[2018-08-15 15:28] #261 closed

[2018-08-15 15:30] dustinmoris commented on #270
Yes any improvements to user documentation are always welcome! Especially now with .NET Core 2.1 and the `Microsoft.AspNetCore.App` and `Microsoft.AspNetCore.All` shared runtime packages it should be fairly easy.

[2018-08-15 17:45] dustinmoris commented on #267
Hi, have you got an example of another .NET lib which follows a `TryAdd` pattern for registering dependencies and middleware? Just trying to understand what a `TryAdd` would do differently to the current `Add` which I have seen with most libraries so far?

Many thanks!

[2018-08-15 17:54] dustinmoris commented on #282
Thanks for suggesting this feature, which I think is great! I agree with your recommendation of making the current Guid formatter `'O'` also responsible for short Guids. From a user's point of view they just care about the model to which the route binds and if the model holds a `Guid` then any data format which can be resolved into a `Guid` should essentially be valid.

If you want to work on this

[2018-08-15 18:02] dustinmoris commented on #281
First of all congrats on these great results! Secondly I would love to get your changes from string concatenation to memory stream put into the current GiraffeViewEngine. A PR is more than welcome! Let me know if this is something you would like to work on or if it is up for grabs for somebody else!

Thanks a lot!

[2018-08-15 18:06] NinoFloris commented on #267
All of them, just look at any aspnet lib for instance, tryadd will only add if no service was registered before it, allowing users to set their own defaults and don't have libraries mess with those.

[2018-08-15 18:13] #295 closed

[2018-08-15 20:25] danieljsummers commented on #290
Excellent. I'm fine with the suggested change; I should have this submitted by this weekend.

[2018-08-15 20:33] dustinmoris commented on #267
Is this what you would be looking for?

[code]

[2018-08-15 20:34] dustinmoris commented on #290
Awesome, thanks!

[2018-08-15 20:36] dustinmoris commented on #278
Hi, would you mind sharing some of the code or steps to reproduce? I am not 100% sure I know what you mean. Is it that your browser opens a new window when you execute `dotnet run`?

[2018-08-15 20:43] NinoFloris commented on #267
It should replace the adds that are currently inside AddGiraffe. It's not supposed to be more API surface :)

[2018-08-15 21:01] dustinmoris commented on #275
@cmeeren You are right that the current handler doesn't set any of these headers as it wouldn't know which and what value. It's more of a helper method used from within the streaming handlers which do set these headers indeed and which is one of the most common use cases.

If you want to implement your own handler you can do the following:

[code]

[2018-08-15 21:11] dustinmoris commented on #274
Thanks for reporting this. I will document it in the template project, where I have created an issue for it now.

[2018-08-15 21:11] #274 closed

[2018-08-15 21:33] dustinmoris commented on #267
Hmm.. so just trying to understand the implications of this. The `.Add(..)` method will always set (and override) any previously configured dependencies (of the same abstract type). The `.TryAdd(..)` method will only set the dependencies if they are still null. Personally I can see the use case for both, or do you mean that the `TryAdd` would be a replacement for `Add`?

When I check what other .N

[2018-08-15 21:39] NinoFloris commented on #267
Yes it replaces Add and you don't see it in AddMvc because it just consists
of more extension method calls to their components that do the final
TryAddSingleton etc like calls

On Wed, Aug 15, 2018, 23:33 Dustin Moris Gorski <notifications@github.com>
wrote:

[2018-08-15 21:45] dustinmoris commented on #267
Ok gotcha! You're right, just digged deeper and they indeed end up using `TryAdd`. Interesting... always learning something new.

[2018-08-15 22:00] dustinmoris commented on #269
Thanks to both of you for sharing your code in order to add this feature. When I get around to implement it then I will get back to you if I have any questions. Alternatively if you feel like you want to submit a PR to help with the `TryBindJson` function then you'd be more than welcome!

[2018-08-15 22:09] dustinmoris commented on #266
Hi,

Sorry for the super late reply, but you can combine them like this for example:

[code]

Hope this is still helpful, let me know if you have more questions!

[2018-08-15 22:27] dustinmoris commented on #295
Did you figure out what the problem was?

[2018-08-15 23:25] mamcx commented on #278
I run `dotnet run` and keep the server in the terminal. Then if I run any project in Visual Studio Mac that reference the server (like the tests) it open the browser. I don't do a HTTP call anywhere, this just happened..

[2018-08-16 07:26] dustinmoris commented on #278
Ok, I am afraid I can't really help with this. Giraffe is most certainly not opening any browser windows and to me this sounds more of a Visual Studio behaviour. I would suggest to [report a problem for Visual Studio for Mac](https://docs.microsoft.com/en-gb/visualstudio/mac/report-a-problem).

[2018-08-16 12:00] graforlock commented on #295
Ah yes, it was not Giraffe per se but how F# plays with SignalR. Stack traces seems very vague and doesn't explain why is it happening, but adding type annotations here:
[code]

Fixes the issue.

[2018-08-16 14:47] mamcx commented on #278
I also use Suave (because giraffe trigger a weird bug in android) and this not happened with it, neither with other web frameworks I have tested. Is sure in the giraffe codebase not launch  browser windows?

[2018-08-16 14:56] forki commented on #278
I'm very positive that giraffe does not open a browser. Maybe you are using
a FAKE script that does it? Or canopy?

Mario Montoya <notifications@github.com> schrieb am Do., 16. Aug. 2018,
16:50:

[2018-08-16 16:10] cmeeren commented on #275
Thanks! Surely at least `ETag` is known? It must necessarily be exactly the same as in the request's `If-(None-)-Match`, since otherwise there would be a proper response. Or have I misunderstood something? (I'm a bit fuzzy on the weak vs. strong ETag thing.)

[2018-08-18 13:47] scorelocity commented on #266
Thanks!

[2018-08-18 13:47] #266 closed

[2018-08-18 22:41] #292 closed

[2018-08-18 22:41] #267 closed

[2018-08-18 22:41] #280 closed

[2018-08-18 22:41] #286 closed

[2018-08-18 22:55] dustinmoris commented on #292
This has been released with [Giraffe 2.0.0](https://github.com/giraffe-fsharp/Giraffe/releases/tag/v2.0.0).

[2018-08-18 22:55] dustinmoris commented on #290
This has been released with [Giraffe 2.0.0](https://github.com/giraffe-fsharp/Giraffe/releases/tag/v2.0.0).

[2018-08-18 22:55] #290 closed

[2018-08-18 22:56] dustinmoris commented on #272
This has been released with [Giraffe 2.0.0](https://github.com/giraffe-fsharp/Giraffe/releases/tag/v2.0.0).

[2018-08-18 22:56] #272 closed

[2018-08-18 22:56] dustinmoris commented on #255
This has been released with [Giraffe 2.0.0](https://github.com/giraffe-fsharp/Giraffe/releases/tag/v2.0.0).

[2018-08-18 22:56] #255 closed

[2018-08-18 22:56] dustinmoris commented on #254
This has been released with [Giraffe 2.0.0](https://github.com/giraffe-fsharp/Giraffe/releases/tag/v2.0.0).

[2018-08-18 22:56] #254 closed

[2018-08-18 22:57] dustinmoris commented on #224
This has been released with [Giraffe 2.0.0](https://github.com/giraffe-fsharp/Giraffe/releases/tag/v2.0.0).

[2018-08-18 22:57] #224 closed

[2018-08-18 22:58] dustinmoris commented on #289
This has been released with [Giraffe 2.0.0](https://github.com/giraffe-fsharp/Giraffe/releases/tag/v2.0.0).

[2018-08-18 22:58] #289 closed

[2018-08-19 16:28] Lanayx commented on #292
@dustinmoris  I'm afraid this is not enough... To update to second version, namespaces should be updated to V2 (like FSharp.Control.Tasks.V2.ContextInsensitive). I'm not the fan of this solution, but looks like that we have to follow it.

[2018-08-19 16:35] dustinmoris commented on #292
Oh crap, ok yeah thanks for letting me know. I'll push a hotfix later
tonight! Currently away from my desk!

On Sun, 19 Aug 2018, 17:28 Vladimir Shchur, <notifications@github.com>
wrote:

[2018-08-19 16:45] Lanayx commented on #292
You are welcome!

[2018-08-20 06:30] dustinmoris commented on #292
@Lanayx: Little delay due to this: https://github.com/rspeele/TaskBuilder.fs/issues/23

[2018-08-20 19:15] dustinmoris commented on #292
Ok I just published version Giraffe 2.0.1 with the fix. Might take a few minutes until the NuGet package has been indexed.

[2018-08-20 20:14] Lanayx commented on #292
Thank you, I'll check it out

[2018-08-28 08:05] hravnx opened #298 "Giraffe 2.0.1 breaks build with task CE error"
Everywhere I use a task computational expression `2.0.1` gives a build error:

The same code works in `2.0.0` - the only change is to update the Giraffe package to `2.0.1`

[2018-08-28 08:08] dustinmoris commented on #298
Hi, yeah in 2.0.0 there was a place where I forgot to open the new V2 namespace for the TaskCE. You should do the same if working with tasks in Giraffe >= 2.0.1:

[code]

The change of namespace is a side effect of upgrading to TaskBuilder.fs version 2.

Hope that helps!

[2018-08-29 16:26] vivainio opened #299 "Idea: GiraffeViewEngine, node type to expand "many nodes" without nesting"
Currently, XmlNode is like

[code]

I would propose to expand this with new union case:
[code]

While expanding "ManyNodes", the child nodes would be at the same level as parent. This would allow creating functions that "spread" their output at siblings. Currently, you have to use List.concat for behaviour like this.

[2018-09-01 17:29] dustinmoris commented on #299
Hi,

Can you maybe quickly paste me a more concrete example of that would be useful and how you are doing it currently with Giraffe which makes it I guess more difficult or less elegant? Because I think you should be able to just spread output at siblings from a function via 'yield' or 'yield!' but maybe that's not what you want or maybe that's different from what you are trying to address here, s

[2018-09-10 09:21] dv00d00 opened #301 "Proposal: Extend IJsonSerializer with UTF8 serialization methods"
There are several json serializers which supports serialization to utf8 directly without the need to allocate intermidiate string which the would be converted to utf8.

Several examples :

- https://github.com/neuecc/Utf8Json
- https://github.com/Tornhoof/SpanJson

I propose to extend IJsonSerializer  with new methods which will allow to utilize utf8 serialization features.

[code]

Generic argume

[2018-09-10 13:13] ITArchitectSebastianKJensen opened #302 "voidTag renders without />"
If I want to include a <script/>tag in the heading section of the HTML page, like

` <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"/>`

I create a new tag definition

`let scriptFile attr  =  voidTag "script" attr   `

and use this tag in my View definition

` scriptFile [ _src "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ]`

When this tag is r

[2018-09-10 14:12] dustinmoris commented on #302
Hi,

The `<script>` tag must always have a closing `</script>`, which is why Giraffe has defined it as a `tag` and not as a `voidTag` element. If it were allowed to self close, then `<script>` without the `/>` would be sufficient according to the HTML spec.

For more info: https://stackoverflow.com/questions/69913/why-dont-self-closing-script-tags-work

[2018-09-10 17:06] ITArchitectSebastianKJensen commented on #302
Hi
Yes you need to close the script tags with  /> OR </script>. (good point about not using />)

My problem with Giraffe is that I can´t close script tags without inline code.  I want to have a script tag in the HEAD section like this:

`<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>`

The code below is not accepted in the view definition, because a XmlNod

[2018-09-10 18:38] dustinmoris commented on #302
Ah ok now I see where the problem is :).

Just pass in an empty list if you don't have content between the tags:

[code]

Hope that helps ;)

[2018-09-12 12:48] kamcma commented on #298
Can the docs be updated to reflect that explicitly opening this module is required? This issue led me to look at the deprecated Giraffe.Tasks project, which explains to open the third-party module now, but the Giraffe docs imply you only need to open the module outside the context of Giraffe.

[2018-09-12 13:57] dustinmoris commented on #298
Updating the docs is certainly a good idea, however I think this can be fixed by deleting [this line of code](https://github.com/giraffe-fsharp/Giraffe/blob/master/src/Giraffe/Common.fs#L15) which I think is redundant at this point now.

Initially I overrode the `task {}` CE with this line of code in order to ensure that all `task {}` usage in Giraffe (which is always a web context) to use the `Co

[2018-09-13 18:08] dustinmoris commented on #302
Hi @ITArchitectSebastianKJensen I'm going to close this as I assume you got what you wanted, right?

[2018-09-13 18:08] #302 closed

[2018-09-13 18:11] dustinmoris commented on #301
Sounds good to me! Utf8Json looks great!

[2018-09-13 18:14] dustinmoris commented on #293
I'll close this as I assume the question has been answered. @mamcx If you have more questions or something doesn't make sense feel free to open a new issue.

[2018-09-13 18:14] #293 closed

[2018-09-13 18:16] dustinmoris commented on #278
I'm going to close this too as there hasn't been any more information provided for a month now. If you still struggle with this @mamcx then please open a new issue and give us a bit more context in order to help you!

[2018-09-13 18:16] #278 closed

[2018-09-13 18:26] dustinmoris commented on #277
Hi,

We just closed a PR which improves the perf of the `GriaffeViewEngine` and there is another issue open to improve JSON serialization. I think this will be an ever ongoing issue and something which we will have to reiterate over and over again.

I'd be inclined to close this issue and just tackle the concrete perf improvement issues which anyone can open.

If anyone knows of good ways to impro

[2018-09-13 18:28] dustinmoris commented on #260
This has been fixed in the last Giraffe and giraffe-template releases. Thanks for helping out!

[2018-09-13 18:28] #260 closed

[2018-09-13 18:49] dustinmoris commented on #298
Ok, both changes are ready for the next release. Thanks for bringing this to attention!

[2018-09-13 18:49] #298 closed

[2018-09-14 06:57] ITArchitectSebastianKJensen commented on #302
Yes and thank you for the quick response

[2018-09-15 10:42] dustinmoris commented on #282
@rmunn I have added this feature now based on our discussion here. I have also updated tests and the documentation. Please have a look at the referenced commit and let me know if you see any improvements that can be made.

The only thing I had to do differently that what we discussed here is to use the `%u` format character for the `uint64` YoutTube IDs, because `%u` is the default char for unsign

[2018-09-15 17:48] dustinmoris commented on #299
@vivainio hey just wanted to ping you regarding this issue. Maybe if you have 5 min time and see my previous message. If this is still relevant then I'd be happy to figure out what to do next from here and if there's some work required then I might be able to get it into the next release which is already in the cooking. Thanks!

[2018-09-15 18:36] #277 closed

[2018-09-15 18:44] dustinmoris commented on #250
@Micha-kun @danieljsummers
Hi, I really can't reproduce this issue and given that there has been not further update on this anymore I'm going to close this for now, but if this bug creeps up again then please try to capture as much info as possible and feel free to file it here again or in the TaskBuilder.fs repository if you think it is less of a Giraffe bug.

Sorry that I couldn't be of more hel

[2018-09-15 18:44] #250 closed

[2018-09-15 18:49] dustinmoris commented on #248
Updated the README based on the feedback here. Thanks again!

[2018-09-15 18:49] #248 closed

[2018-09-15 18:49] dustinmoris commented on #270
Updated the README based on the feedback here. Thanks again!

[2018-09-15 18:49] #270 closed

[2018-09-16 06:40] #263 closed

[2018-09-16 06:40] dustinmoris commented on #263
Sorry closed this issue a bit late, but it was essentially resolved for a while now.

[2018-09-16 09:48] dustinmoris commented on #275
Hi @cmeeren,

A web application would only send a `304` status code if the client had sent any of the supported `If-[...]` validation headers.

Giraffe currently exposes the `ctx.ValidatePreconditions (eTag : EntityTagHeaderValue option) (lastModified : DateTimeOffset option)` extension method which will validate all of the possible validation headers, set any required response headers (e.g. the `

[2018-09-16 09:54] dustinmoris commented on #245
Hi, Giraffe should work with OpenIdConnectServer without any issues. What problems were you facing when plugging OpenIdConnect into ASP.NET Core in combination with Giraffe? Have you got a repository which I can have a look at?

[2018-09-16 10:43] xperiandri commented on #245
Ah, I've got it from samples.
It is enough to set up OpenIddict as ASP.NET Core middleware before Giraffe middleware.

[2018-09-16 10:43] #245 closed

[2018-09-17 14:32] rmunn commented on #282
Looks good to me! I found one typo, but otherwise I don't see anything that was missed.

I was initially a little bit bothered by the difference in handling between short GUIDs and short IDs: GUIDs can handle either their "long" form (8-4-4-4-12) or their short form (22 base64url chars), but short IDs only allow the 11-char string form. But after a bit of thought, I realized that there's no gettin

[2018-09-18 06:50] #282 closed

[2018-09-18 06:50] #235 closed

[2018-09-18 07:07] dustinmoris commented on #301
Release is out: https://github.com/giraffe-fsharp/Giraffe/releases/tag/v3.0.0

Thanks for the great contributions!

[2018-09-18 07:07] #301 closed

[2018-09-18 07:08] dustinmoris commented on #281
Release is out: https://github.com/giraffe-fsharp/Giraffe/releases/tag/v3.0.0

Thanks for the great contributions! :) 👍

[2018-09-18 07:08] #281 closed

[2018-09-19 17:10] lenzenmi opened #306 "Sucessful.NO_CONTENT"
I'm using Asp.Net.Core 2.1.3 and Giraffe `3.0.0`

A simple handler like this
[code]

Throws an exception something like:
[code]

This handler works as expected
[code]

I believe the error is that the Giraffe implementation tries to write to the body using `setBody`
https://github.com/giraffe-fsharp/Giraffe/blob/a036cfe7d3ef52af68ed1d43b5fe477d4c10a211/src/Giraffe/HttpStatusCodeHandlers.fs#L26

[2018-09-20 08:09] dustinmoris commented on #306
Thanks for raising this issue. I confirmed that it didn't work and fixed it for the next upcoming version!

[2018-09-24 06:49] cmeeren commented on #275
Thanks, it makes sense now. I didn't know that `ValidatePreconditions` was modifying the response.

[2018-09-24 06:49] #275 closed

[2018-09-24 08:05] dustinmoris commented on #275
@cmeeren That's a good point. I might have to think about renaming the new handler perhaps.

[2018-09-25 16:53] vivainio commented on #299
@dustinmoris hey, I've let it wallow for a while, but I'm not sure what you mean by "yield!". I am composing DOM by normal lists, not CE's.

So I have
[code]

Where many [] could be replaced by function call like so:

[code]

How would you do it instead? concatting lists?

[2018-09-25 17:10] dustinmoris commented on #299
Hi @vivainio

Currently you can do this:

[code]

Maybe the usage of `yield` in this context is not super elegant, but it sort of indicates how the list is being constructed. This is not a `GiraffeViewEngine` feature, but just how F# let's you mix in a dynamically generated list into an existing list declaration.

This would be the same for any other normal F# collection type:

[code]

[2018-09-25 18:37] dustinmoris commented on #299
@vivainio
Yes, it's not super elegant, but this is sort of the benefit and curse of a very expressive language like F#. I see it the same as for example having to explicitly `|> ignore` a function which returns something which I don't want to use. On one hand it is very verbose and can be seen like noise, on the other hand it shows me and any other reader of the code exactly what is going on.

In

[2018-09-26 12:11] stroborobo opened #309 "Make Routing.getPath (+others?) public"
Hey team!

I'm plugging our Fable.Elmish.Browser routing into our Giraffe routing right now (for server side rendering) and noticed that it seems to be impossible to get the "already routed" path out of Giraffe.

E.g. for `subRoute "/foo/" routeUI`, inside the routeUI HttpHandler I don't know the part that's already handled. I'd help if getPath would be accessible from the outside in case users wa

[2018-09-26 12:46] dustinmoris commented on #309
Sure, there is no particular reason to keep this private. I've simply made it private initially because I didn't want to expose too much functionality without a clear use case.

I will probably move these helper functions into a new module (maybe something like `SubRoute`) and make them public there. This will ensure that if someone opens the `Giraffe` module they will not have these routing funct

[2018-09-26 12:47] stroborobo commented on #309
Nice, thanks!

[2018-09-27 08:18] dustinmoris commented on #309
I've made the functionality public for the next upcoming release: https://github.com/giraffe-fsharp/Giraffe/blob/develop/RELEASE_NOTES.md#310

[2018-09-28 19:47] #306 closed

[2018-09-28 20:06] dustinmoris commented on #309
This just has been released. The `3.1.0` NuGet package is still being validated and indexed on NuGet.org, but should hopefully be available soon.

[2018-09-28 20:06] #309 closed

[2018-09-28 20:07] dustinmoris commented on #299
I think this can probably be closed now?

[2018-09-30 19:07] dustinmoris opened #310 "Swagger Integration"
Hi,

First I'd like to say sorry for being really slow with getting the Swagger integration working and letting many people down.

Secondly I want to say thanks to all the people who have forked Giraffe and created an unofficial solution or NuGet package to step in where I was not able to provide a working version yet. Also much appreciated for the PR which was sitting around for a while and then

[2018-10-01 15:01] vivainio commented on #299
@dustinmoris yes, though I'd still like the feature so that I can remove my private fork :)

[2018-10-01 20:38] NatElkins commented on #310
Don't be so hard on yourself!  It's a team effort.

Wouldn't traversing the ApiTree be a very big breaking change, essentially changing the signature of all handlers?  Also, how do you traverse the tree?  I have a bunch of code that is similar to this:

[code]

In your vision, how do I get information about those responses into the ApiTree object without calling the routes?

[2018-10-01 21:48] dv00d00 opened #311 "[Proposal] Add encoding to content type response headers"
The source of this stuff is the techempower benchmark.

They require `text\html; charset=utf-8` content type header to be present.

It does affect browser behavior for nonascii html. I think we should include it by default for html and add a way to disable it somehow.

Other than that charset would be useful for all other response writers.

[2018-10-01 21:57] dv00d00 commented on #311
before
![image](https://user-images.githubusercontent.com/1162823/46318103-09a4b180-c5de-11e8-860a-4f9e2abe801a.png)

after
![image](https://user-images.githubusercontent.com/1162823/46318129-1f19db80-c5de-11e8-859e-31beba19775b.png)

[2018-10-01 22:07] dv00d00 commented on #311
Actually I am not sure it should be optional

[2018-10-01 22:07] dv00d00 commented on #311
Anyway, opened a pr #312 with the assumption that we wont need to omit charset in content type

[2018-10-04 15:38] oleksandrmelnychenko opened #313 "Identity with JWT not working"
Both services are not working ?

**services.AddAuthentication**(JwtBearerDefaults.AuthenticationScheme).AddJwtBearer(Action<JwtBearerO
          ptions>jwtBearerOptions) |> ignore

**services.AddIdentity**<User, IdentityRole>(fun options ->
                options.Password.RequireUppercase <- false
                options.Password.RequiredLength <- 4
                options.Password.RequireDigit <

[2018-10-05 07:31] oleksandrmelnychenko commented on #313
Hi,
If I include both: AspNet Identity and JwtBearer into "configureServices", Jwt logic not working (always return 401, AspNet Identity configuration has '<more priority>'. In default Asp.Net core, no such issue, i can use jwt with asp.netIdentity

[2018-10-05 07:32] oleksandrmelnychenko commented on #313
Middleware for Token validation not working properly if AspNet identity was added to Services

[2018-10-10 05:26] dustinmoris opened #314 "HTTP HEAD considerations"
A few things which I'm trying to get clarity on:

- Should Giraffe have a handler like `verbs [ GET, HEAD ] >=>`?
- Should Giraffe's `GET` handler also handle `HEAD` requests?
- Should Giraffe's response writers (e.g. `json`, `htmlFile`, etc.) check if a request is a `HEAD` and only write to the response body if it isn't a `HEAD`?
- Is there a scenario where someone would want to serve a HTTP GET

[2018-10-10 17:53] dustinmoris commented on #314
Not required. A HEAD response should never contain a body, but this seems to be already handled by ASP.NET Core.

[2018-10-10 18:06] dustinmoris commented on #314
This is already done: `choose [ HEAD; GET ]` works just fine.

[2018-10-10 18:06] #314 closed

[2018-10-10 18:11] dustinmoris commented on #311
This change is included in v.3.2.0, which is currently being cooked on the build server and then pushed to NuGet.

[2018-10-10 18:11] #311 closed

[2018-10-15 21:20] AkosLukacs opened #315 ""rawText""
Hi!

Although the documentation clearly states that `rawText` is dangerous, and `encodedText` should be used in most cases, I think it could be more apparent:

- Add relevant comments in GiraffeViewEngine
- Remove most of `rawText` from the samples. Looks like `rawText` is used to output static text, and that is safe, but I think the samples could be safer by default. Copy-paste anyone? :)
- `comm

[2018-10-16 22:17] dustinmoris commented on #315
Hi,

Thanks for raising all these points and providing the PR (which I have already happily merged)!

This is an interesting one. I am not sure about this, because with a comment I am not sure if encoding would be really desired. For example someone might have a comment like this:

[code]

Not sure, what do you think would be the risks by not encoding?

I can see the appeal of a short alias. What

[2018-10-17 05:41] AkosLukacs commented on #315
Hi, glad to help!

On comment, I might have gone too far, might not make sense.

For the short alias: `@` is already used in F#, and probably a lot of operators I don't even know about. @nojaf mentioned `str` in #138 and that feels good to me for the same reason: I personally used Fable / React before using Giraffe's view engine. But this should be a community decision.

[2018-10-17 06:00] nojaf commented on #315
Not that this helps anyone but I use the FableReact as view engine these days. Serverside all you need is `Fable.Helpers.ReactServer.renderToString` and you can re-use the same rendering as you know on the clientside. You don't necessarily need to do the isomorphic dans, works well enough.

[2018-10-20 17:01] dustinmoris commented on #315
@nojaf Thanks for the tip!
@AkosLukacs I've added the `str` alias. I think that solves everything you've mentioned here now right?

[2018-10-23 12:16] FedericoBinda opened #318 "Access Giraffe sample on Service Fabric cluster on Azure"
Hi

I am trying to have a Giraffe application running on a Service Fabric cluster on Azure.
So far I have managed to deploy the Giraffe sample to the cluster as a guest executable, and when I connect to the cluster via Remote Desktop I can see it is running at http://localhost:5000 as expected. However I am not able to connect to it remotely. I think I have set up things correctly on the cluster,

[2018-10-23 15:27] havarnov commented on #318
I think your problem is that you need to configure the load balancer in front of your cluster. See https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverseproxy

[2018-10-25 13:31] AkosLukacs commented on #315
@dustinmoris Yes, thank you!

@nojaf Thanks for the info, haven't looked into SSR, and it's good to know that you can simply render FableReact 👍

[2018-10-25 13:31] #315 closed

[2018-10-27 11:56] boeremak opened #319 "How do I run an Async workflow within a route handler"
Hi,

I've been getting to grips with Giraffe and while it works pretty awesomely for the most part I am having a hard time getting something from my mailbox processor.

I have the following code:
`let nodesRoute () =
    fun (next:HttpFunc) (ctx:HttpContext) ->
        async {
            let! nodes =  processor.PostAndAsyncReply(fun reply -> GetNodes(reply))
            return nodes
        }

[2018-10-27 13:05] boeremak commented on #319
I figured it out, the writeJsonAsync also needs to run inside the task.

The following works:
`let nodesRoute () =
    fun (next:HttpFunc) (ctx:HttpContext) ->
        task {
                let! nodes =  processor.PostAndAsyncReply(fun reply -> GetNodes(reply))
                return! ctx.WriteJsonAsync nodes
        }   `

Obvious when you think about it.

Was a bit too soon with asking. Apologi

[2018-10-27 13:05] #319 closed

[2018-10-27 16:49] dustinmoris commented on #319
Hi, no worries it's never too soon to ask! Apologies that I didn't reply
sooner myself, I was just about to say that I'll have a look at this later
in the evening when I'm back home, but glad you already figured out what
you needed! :)

On Sat, 27 Oct 2018, 14:05 Kor Boerema, <notifications@github.com> wrote:

[2018-11-07 13:29] isserson opened #321 "Add shebang and fix shellcheck warnings to build.sh"
Tried running the build script on macOS, got the following error:

[code]

Ran $ shellcheck build.sh with the shebang added and got:

[code]

Fixing these things should make building on Unix-descended systems easier.

For more info on these recommendations:
https://www.shellcheck.net/

[2018-11-07 16:44] TheAngryByrd commented on #321
Closed via #320

[2018-11-07 16:44] #321 closed

[2018-11-15 14:53] NatElkins commented on #310
@dustinmoris Hi, just wanted to check in.  Can show some psuedo-code/function signatures that explain your idea a bit more?  I have some time here and there that I can put towards this feature.

[2018-11-21 14:49] boeremak opened #322 "Giraffe on Full Framework and Kestrel getting empty responses."
Hi,

I was having some trouble earlier on with Giraffe on the .Net 461 and Kestrel, but it never bothered me that much because I could use .Net Core. The problem is that I now do need a fix because of other libraries. Whenever I try to run Giraffe on VS 2017 it never returns any data. Chrome, will error out with `ERR_EMPTY_RESPONSE`. If I run the exact same code in VS Code and .Net Core it does wo

[2018-11-24 21:17] Dzoukr opened #323 "Why is tryBindJson function missing?"
Please, take this more as a question. Why there is nothing like `tryBindJson`? In case the the frontend sends bad format of message, `bindJson<'a>` fails with 500 error and explanation, but I would rather return 400 with message what went wrong. I created my own:

[code]

Maybe there is something wrong with this approach so I better ask - is it on purpose? If not, should I send PR?

Thanks for suc

[2018-11-26 15:43] joahim opened #324 "_data attribute in the GiraffeViewEngine"
The current implementation of the `_data` attribute in the GiraffeViewEngine does not work alongside it's specification:

https://www.w3.org/TR/html5/dom.html#embedding-custom-non-visible-data-with-the-data-attributes

In other words, it allows creation of `data="value"` but not `data-something="value"`.

This is how Fable.React defines the data attribute:

https://github.com/fable-compiler/fable-

[2018-11-26 21:20] dustinmoris commented on #310
So update:

- In .NET Core 2.2 there will be a new endpoint routing API, which essentially allows ASP.NET Core middleware (such as MVC) register routes in a common fashion, which will make route information available to all other middleware too. Initially, in 2.2, this will apparently only be there for MVC.
- In .NET Core 3.0 this feature will get extended so that it will work great outside of MVC

[2018-11-26 21:34] NatElkins commented on #310
@dustinmoris Do you know where I can find docs on this new routing API?

[2018-11-26 21:35] dustinmoris commented on #323
There should be a `tryBindJson` and a `tryBindXml`, but unfortunately the current libraries which Giraffe uses for JSON and XML serialization don't easily support this use case. The `try{...}` functions only bind a model if all mandatory fields of a record type have been provided (e.g. only fields of type `option` may be missing), but currently JSON.NET would still create such an object.

I think

[2018-11-26 21:42] dustinmoris commented on #324
Yes this is an oversight and needs to be fixed. Something similar to Fable makes sense (e.g. `_data "key" "value"`).

If I understand you correctly then I believe you're after [`XmlAttribute`](https://github.com/giraffe-fsharp/Giraffe/blob/develop/src/Giraffe/GiraffeViewEngine.fs#L30-L51).

[2018-11-26 21:46] dustinmoris commented on #322
I have a Windows machine where I can test these scenarios. Could you create a minimalistic GitHub repo with a Giraffe app which only targets .NET 461 where you have issues to run it from VS 2017? I'll clone it then and try to find out what the issue is!

[2018-11-26 21:47] dustinmoris commented on #318
@FedericoBinda How are you getting on with this?

[2018-11-26 22:08] dustinmoris commented on #310
@NatElkins

Most of the info I've obtained from an [ASP.NET Core community standup](https://www.youtube.com/watch?v=8k0OKeGsWTg&list=PL1rZQsJPBU2StolNg0aqvQswETPcYnNKL&index=5) and [Steve Gordon's blog post](https://www.stevejgordon.co.uk/asp-net-core-first-look-at-global-routing-dispatcher) and an official [ASP.NET blog post](https://blogs.msdn.microsoft.com/webdev/2018/08/27/asp-net-core-2-2-0-p

[2018-11-27 07:22] FedericoBinda commented on #318
Not well unfortunately. I tried the basic ASP.NET core hello world application, but I ran into the same issue. I must be doing something wrong in the Service Fabric network configuration, but I am having a hard time figuring out what.
I think it's clear now that this is a service fabric related issue. I have opened an issue [here](https://github.com/Microsoft/service-fabric/issues/252) but unfortu

[2018-11-27 15:11] boeremak commented on #322
I'll see what I can do, installing the 4.7.2 Framework seems to fix it. I hope I can still reproduce it on another machine.

[2018-12-05 09:03] FedericoBinda commented on #318
I solved the issue. It turns out that it is necessary to set the correct url in the app to be able to access it remotely. At the moment I am using a hard-coded url in the code with UseUrls, but the proper way to do it would be getting the uri from the FabricRuntime library, something similar to what is done in C# and java [here](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-

[2018-12-05 09:03] #318 closed

[2018-12-20 08:42] dustinmoris commented on #79
I've migrated the entire PR into its own repository a while ago. It builds and I think it should work now, but might need a bit of testing with the latest version of Giraffe. I also have to set up the build pipeline for a NuGet package, which I should be able to get done over the next few days:

https://github.com/giraffe-fsharp/Giraffe.Swagger

If you have any questions or want to help then pleas

[2018-12-20 08:42] #79 closed

[2018-12-20 08:46] dustinmoris commented on #310
The new OpenAPI integration with the new endpoint routing API might still be a bit further away (since it's not usable yet) so I've migrated the previous Giraffe.Swagger PR into its own repo and cleaned everything up a bit and made sure that it builds and works. I yet have to give it a good test and set up the deployment pipeline to produce a NuGet package but it's close to release. I've also invi

[2018-12-20 08:46] #310 closed

[2018-12-20 12:53] cmeeren opened #326 "How to perform action in HttpHandler both before and after invoking next"
I have an HttpHandler like this:

[code]

It's in my routing like this:

[code]

However, the disposable seems to always be disposed before `myGet` or `myPost` is called. Have I misunderstood something regarding the middleware pipeline metaphor? How can I ensure that the disposable is disposed only after e.g. `myGet` and `myPost` have executed?

[2018-12-20 13:41] cmeeren commented on #326
Sorry, I'm still a bit lost. I tried

[code]

and

[code]

but I'm still observing the same behavior. What am I doing wrong?

[2018-12-20 13:46] slang25 commented on #326
You might need to add `task` and `let!` to avoid the extra bit of deferred execution (I think)

[2018-12-20 13:47] slang25 commented on #326
[code]

[2018-12-20 13:51] cmeeren commented on #326
Yes, that did the trick. Thanks!

[2018-12-20 14:01] cmeeren opened #327 "Add/clarify documentation re. task CE vs. no CE"
I have, for a long time, been a bit confused regarding writing `HttpHandler`s with `task { }` vs. writing them "bare" without the `task` CE:

* There are apparently some important differences in behavior (e.g. eager evalution) that should be clearly documented, see e.g. #326
* The documentation doesn't seem to be 100% clear (with samples) on exactly what should be returned in task vs. non-task in

[2018-12-21 06:31] kunjee17 opened #328 "Always hitting index.html for base route"
I am having weird issue. I am using SAFE stack with Fable.Remoting. And I want to use normal pages along side with Fable.Elmish single page.

So, I am having below routes. Just to make Fable.Elmish webpack happy I am keeping `index.html` as it is. And pointing file to `admin` route. But for root or index I am pointing to `home.html`. Code seems to be OK only. But the problem is while running the c

[2018-12-21 06:40] kunjee17 commented on #328
Solved it. I was using `UseDefault` in setting. Damn of me. Thanks for nice framework, can't say enough.

[2018-12-21 06:40] #328 closed

[2018-12-22 20:46] boeremak commented on #322
Do you need anything more from me? Happy to help.

[2018-12-23 10:42] dustinmoris commented on #314
@cmeeren: Coming in the next version: https://github.com/giraffe-fsharp/Giraffe/commit/ea9054db90d6e28bf770423d1b1f972ece5bd5fb

[2018-12-25 07:30] alexpantyukhin commented on #324
Hi! It looks like  `_dataCustom "key" "value"` in my [PR](https://github.com/giraffe-fsharp/Giraffe/pull/330).

[2018-12-25 09:43] dustinmoris commented on #324
Hey, why did you create `_dataCustom` instead of fixing `_data`?

[2018-12-25 09:57] alexpantyukhin commented on #324
Yes, you are right. Didn't correcly get that the `data` is not allowed.

[2018-12-25 09:58] dustinmoris commented on #324
Ok no worries. I've taken your implementation and applied it to `_data`. I will release it with the next version.

[2018-12-25 10:31] alexpantyukhin commented on #324
Then I guess using `_data` there should be fixed also: https://github.com/giraffe-fsharp/Giraffe/blob/master/tests/Giraffe.Benchmarks/Program.fs#L15 .

[2018-12-25 11:48] dustinmoris commented on #327
Thank you highlighting this gap in the documentation. I've tried to document this better now, which you can review here:
https://github.com/giraffe-fsharp/Giraffe/blob/develop/DOCUMENTATION.md#ways-of-creating-a-new-httphandler

Please let me know what you think?

[2018-12-25 11:55] dustinmoris commented on #313
Hi, were you able to fix your issue? Sounds like you had two middlewares clashing with each other?

[2018-12-25 17:11] cmeeren commented on #327
Looks better. A couple of points:

[code]

can be written simpler (IMHO) as

[code]

---

I suggest using another term than **abort**, which either sounds like it does just the same as **return early**, or aborts the request altogether (whatever that may mean). Perhaps **ignore** or **skip** are better alternatives?

---

In **Return early**, this expression

[code]

seems like it's missing someth

[2018-12-25 17:36] dustinmoris commented on #327
[code]

Not sure if this really works, did you try it? The `defaultArg` function requires a `'T option` as the first parameter but you are giving it a `string`?

Good point, I'll change it to skip as you suggested.

Not sure I know what you mean. What do you mean it is missing something? Do you want me to just reformat the indentation or actually change the code?

Ok, I'll add it.

[2018-12-25 18:00] cmeeren commented on #327
I'm using ‘Option.defaultValue‘, not ‘defaultArg‘. The operands are switched between the two; otherwise they're identical.

Change the code. This is from the top of my head, but AFAIK, the first two lines evaluate to an HttpHandler. But the third line doesn't make use of it. I can't see that you forgot a pipe (the third line makes sense on its own), so I can't really say what these three lines are

[2018-12-25 18:17] dustinmoris commented on #327
Of course, sorry my bad! Yes that makes a lot more sense. I'm editing it right now :)

I think this is bad indentation on my part, which didn't make the example very clear.

Is this better?

[code]

In the `else` the first line is a handler which then needs `next` and `ctx` to be passed it, but in this instance instead of passing in `next` I am passing in `skipRemainingPipeline` in order to skip t

[2018-12-26 09:54] cmeeren commented on #327
Regarding `skipRemainingPipeline`: I see, I didn't understand that it took the place of `next`. I thought `ctx` was applied to `skipRemainingPipeline`, not to the composed `HttpHandler` in front. I think your alternative 2 (which you have used in the documentation) is the most clear alternative, and the extra description you've added clarifies this further. I also suggest explicitly typing the fun

[2018-12-26 10:44] dustinmoris commented on #327
Great feedback, thank you! I'll address them shortly!

[2018-12-28 13:19] Zaid-Ajaj opened #333 "Feature request: execute and resolveService"
As we had discussed some ideas in #331, my main point was to hide implementation details of `HttpHandler` from the end user unless he/she really wants to build middleware themselves. My propostion of adding `handleContextAsync` didn't really make sense in the big picture of the library so here is an alternative that just might:

Let's assume the user had the function:
[code]
I want it to be really

[2018-12-28 23:36] #313 closed

[2018-12-28 23:39] #126 closed

[2018-12-29 12:13] dustinmoris commented on #333
Hi, I think both handlers sound reasonable. Feel free to send a new PR for those!

[2018-12-29 12:31] dustinmoris commented on #327
Correct and your phrasing is better than mine :). It was late for me. I'll submit this shortly! Thank you! This was very helpful, because the docs are really important and I think all your suggestions have massively improved them!

[2019-01-23 16:08] HelloKitty commented on #295
I am encountering this same issue. No solution for it yet on my end and this is with C#.

[2019-01-23 16:14] HelloKitty commented on #295
I found the root issue in my case. You cannot seem to have generic public methods on SignalR hubs. SignalR will attempt to do some internal registration for public methods it seems and this will fail when they are generic.

In my case, the solution was to just make my interface method implementation explicit. If you have generic method members just make them private or something. That should work

[2019-01-26 18:09] jbrestan opened #338 "subRouteCi not case insensitive"
I've found that the case insensitive variant of `subRoute` still requires the route as a whole to match the case exactly as is defined in the code in case it has nested path filters.

A router set up like this would only get matched all the way to the `text` if the request uses all lowercase path:
[code]
In cases like `"/FOO/bar"`, the `subRouteCi` itself works, but `route /"bar"` won't get matche

[2019-01-26 19:35] jbrestan commented on #338
Probably the simplest fix is to change `subRouteCi` to not use `routeStartsWithCi` so that it can pass the right fragment directly to `routeWithPartialPath`
[code]
but it allocates the new substring and introduces a bit of duplication...

[2019-01-28 16:49] dustinmoris commented on #338
Sounds good to me and PR is very much appreciated!

[2019-01-29 04:07] ZeekoZhu commented on #299
@vivainio How about this, render your node list as fragment first then wrap it with `rawText`:

[code]

[2019-01-29 05:49] vivainio commented on #299
That's a great idea that covers all the use cases I think.

On Tue, Jan 29, 2019, 6:07 AM Zeeko <notifications@github.com wrote:

[2019-01-29 09:59] dustinmoris commented on #299
@ZeekoZhu That's a great way of doing this :)

[2019-01-29 10:53] #338 closed

[2019-01-29 16:26] vivainio commented on #299
Closing this, made redundant by @ZeekoZhu suggestion

[2019-01-29 16:26] #299 closed

[2019-02-11 15:48] baronfel commented on #93
In the case of large project, dotnet-watch times can be prohibitive.  I've been thinking a bit about a solution and I wanted to outline it here to see if there's anything terribly out of line:

* If all views were moved to a separate assembly from the one hosting the app, then the assemblyresolve event could be hooked, and when the view-containing assembly was loaded a reference to it could be hel

[2019-02-15 06:21] sergey-tihon commented on #93
[FSharp.Compiler.PortaCode](https://github.com/fsprojects/FSharp.Compiler.PortaCode) - I am not 100% sure how, but 98% sure that it  should be an option =) At least, because it works for LiveUpdate in Fabulous, it should be possible to do with Giraffe.

Sort of dev-only endpoint that is listen for webhooks from PortaCode and on the next page load is uses latest view for rendering.

[2019-02-15 06:26] forki commented on #93
It would be the coolest thing ever

Am Fr., 15. Feb. 2019, 07:22 hat Sergey Tihon <notifications@github.com>
geschrieben:

[2019-02-15 20:43] baronfel commented on #93
There's some good reference material over at the Fabulous repo: https://github.com/fsprojects/Fabulous/blob/master/src/Fabulous.LiveUpdate/LiveUpdate.fs#L205-L288

It looks like there are three major pieces:
* the portacode interpreter is started to watch some project(s) and notify an endpoint with new compilation results
* the code being interpreted has a kind of 'signal' member (in fabulous this

[2019-02-16 20:16] baronfel commented on #93
I've started a repository [here](https://github.com/baronfel/Giraffe.LiveUpdate) with the beginnings of how portacode might be used to trigger hot-reloads.  I've got a simple test harness set up and I've implemented a first version of points 2 and 3 above, now I need to hook up point 1.  If this is something you're interested in contributing to please joing me over there and once we have a polishe

[2019-02-16 21:51] baronfel commented on #93
Proof of concept of hot reloading is successful!

![reload](https://user-images.githubusercontent.com/573979/52905643-a325d600-3202-11e9-890c-3dd28ad59d3d.gif)

[2019-02-17 09:44] dustinmoris commented on #93
That looks awesome. Just so I understand this better I've got a few questions:

Your initial proposed solution sounded good to me, but I didn't understand why this would only be possible in netframework and netcore3.0? I'm not super familiar with how assemblies are being loaded atm.

From the PortaCode documentation:

I don't know the history of PortaCode but wonder why does Fabulous need to inter

[2019-02-17 11:29] dsyme commented on #93
IOS doesn't have full JIT on device.

But TBH in general compilation should be preferred if at all possible - the interpreter is OK but code execution may  be slow and have rough edges. For mobile apps interpretation is OK when the main aim is to see the updated view and play with it a bit.

For aspnet I'm not sure Interpretation is the right thing in the balance - compared to recompiling the DLL

[2019-02-17 11:37] forki commented on #93
The problem with recompiling everything with dotnet watch is that it is
really slow. And restarting the app as well. For dev mode we would really
like to have faster feedback.

Am So., 17. Feb. 2019, 12:29 hat Don Syme <notifications@github.com>
geschrieben:

[2019-02-17 11:43] dustinmoris commented on #93
Thanks for clarification, that was my thinking too.

I think this is the main motivation why @baronfel has re-opened this issue. I think his initial proposal made a lot of sense. If I understood it correctly we would have a sort of improved and must faster dotnet watch by only watching (and reloading) the most minimal set of DLLs which are required for a given task at hand. In his initial request

[2019-02-17 11:57] forki commented on #93
Keeping the app alive has other dev time advantages like you don't need to
repopulate caches or background tasks still run

Am So., 17. Feb. 2019, 12:43 hat Dustin Moris Gorski <
notifications@github.com> geschrieben:

[2019-02-17 12:05] sergey-tihon commented on #93
In the ideal case, would be nice to configure (or let watcher to decide) what should happened: page reload with new view or recompile and full app reload.

When I'm working on a page, most often I do HTML/CSS/JS changes and would like to see immediate page refresh, less often i change backend part (usually it just works from 1st attempt ;) )

[2019-02-17 18:31] baronfel commented on #93
So right now all the project does is introduce a new middleware that abstracts all the reloading logic independently of the rest of the Giraffe HttpHandler. It does this by

* defining a giraffe HttpHandler to represent the update API (based off of the one in the Fabulous project) and merging this in a `choose` block with the user's HttpHandler,
* defining a method to invoke when the wrapped HttpH

[2019-02-19 00:10] dsyme commented on #93
@baronfel Just to note another potential issue: the JSON serialization of the PortaCode format is not at all compact - you an easily get several MB of data for a small code file - 8x the compiled DLL size or more.

This isn't much of a problem when sending to a phone plugged into USB, but could be an issue if sending remote.  In that case compiling to a DLL and sending the DLL may be faster (as we